/*
Theme Name: Kause
Description: A WordPress Portfolio Theme
Theme URI: http://themeforest.net/
Author: ThemeCanon
Author URI: http://themecanon.com
Version: 1.0.15
Version URI: http://themecanon.com/tc/versions.json
Tags: Light, dark, one-column, right-sidebar, responsive-layout
License:
License URI:
*/



/* ==========================================================================
   TABLE OF CONTENTS
   
   01. Theme Base Settings
   02. Theme Colors
   03. Logo
   04. Main Navigation Styles
   05. Main Container General Layout Styles
   06. Typography
   07. Block Elements
   08. Lists
   09. Paging and Comments
   10. Graphs
   11. Buttons
   12. Tables
   13. Forms
   14. Mosaic Styles
   15. Columns
   16. Pricing Table
   17. Message Boxes
   18. Tabs
   19. Toggles
   20. Isotope styles
   21. Widget Footer Styles
   22. Footer Styles
   23. Author's custom styles
	   24. Media Queries 768
	   25. Media Queries 600
	   26. Media Queries 480
	   27. Media Queries 1140
   28. Fonts
   29. Helper classes
   30. Print styles
 	31. Misc. MB
   
   ========================================================================== */




/* ==========================================================================
   01. Theme Base Settings
   ========================================================================== */
   
body { font-size: 1em; line-height: 1.4; padding: 2em 1em 4em; overflow-y: scroll;}
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}
img { vertical-align: middle; border: none; }
a{ text-decoration: none; }
ol, ul{ margin: 0; padding: 0; }
body {-webkit-font-smoothing: antialiased; font-smooth: always; -moz-osx-font-smoothing: grayscale; font: 16px/25px Georgia, "Times New Roman", Times, serif; }
.outter-wrapper{  width: 1440px; margin: 0 auto; padding: 0em;}
.wrapper { width: 1140px; margin: 0 auto; padding: 1.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.boxedPage .sticky-header-wrapper .outter-wrapper{
	width: 100%;
}
dd{
	margin: 0;
}


/* ==========================================================================
   NOTE: Non responsive Full Screen Version
   ========================================================================== */
/*   
body{ padding: 0em;}
.outter-wrapper { width: 100%; min-width: 1140px;}
*/





/* ==========================================================================
   02. Theme Colors
   ========================================================================== */







/* ==========================================================================
   03. Logos
   ========================================================================== */  
.logo{
	max-width: 99px; /* Update width to suite your own logo size */
	padding-top: 1em;
}




/* ==========================================================================
   04. Main Navigation Styles
   ========================================================================== */
.logo{
	display: inline-block;
	float: left;
}   
.logo img, .logo-foot img{
	max-width: 100%;
}
.logo-text{
	font-size: 28px;
	display: inline-block;
	float: left;
	margin-top: .75em;
	margin-bottom: .75em;
}
.header-container .wrapper{
	padding-top: 0em;
	padding-bottom: 0em;
}   
.header-container nav{
	float: right;
}
.header-container .nav li{
	float: left;
	position: relative;
	margin: 0 .4em;
}
.header-container ul.nav > li > a{
	padding-top: 1.3em;
	padding-bottom: 1.3em;
	display: inline-block;
}
#nav ul li:last-child {
	padding-bottom: 1em;
}

.nav a{
	white-space: nowrap;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	padding: 0.3em 1em 0.5em;
	font-size: 18px;
}

.nav-parent a{
	-webkit-transition: all 0ms ease-in-out;
	-moz-transition: all 0ms ease-in-out;
	-ms-transition: all 0ms ease-in-out;
	-o-transition: all 0ms ease-in-out;
	transition: all 0ms ease-in-out;
}
.nav ul li{
	list-style-type: none;
}
#menu-icon {
	display: none;
	font-size: 18px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
#menu-icon span{
	width: 25px;
	height: 20px;
	display: inline-block;
	padding-right: 10px;
	position: relative;
	top: -1px;
}
#menu-icon span img{
	max-width: 100%;	
}
nav #nav{
	margin-top: 0px;

}
#nav ul {
	position: absolute;
	display: none;
	min-width: 122px;
	z-index: 10000;
	margin-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}
#nav ul li {
	float: none;
	margin: 0;
	padding-left: 10px;
	padding: 0.4em;
	position: relative;
}
#nav ul li a{
	padding-left: .9em;
	padding-top: .2em;
	font-size: 17px;
}
#nav li:hover > ul, #nav li.nav-parent.hover ul {
	display: block;
} 
#nav ul li:hover ul {
	display: block!important;
}

#nav li:hover ul ul{
	display: none!important;
	position: absolute;
	left: 100%;
	top: 0;
	-webkit-border-radius: 0px 0px 3px 0px;
	border-radius: 0px 0px 3px 0px;
}
/*
#nav li:hover ul ul:before{
	border:7px solid;
	content:"";
	display: block;
	position: absolute;
	border-color:transparent #242931 transparent transparent;
	left:-14px;
	top:12px; 
}
*/
#nav li:hover ul ul:before{
	content:"";
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	left:-5px;
	top:12px; /* you can adjust */
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav ul li:hover ul {
	display: block!important;
}
.boxedPage .sticky-header-wrapper{
	position: relative;
	margin: 0 auto;
	max-width: 1440px;
}
.donate.donate_btn, .donate.donate_btn:hover{
	-webkit-border-radius: 4px 4px 4px 4px!important;
	border-radius: 4px 4px 4px 4px!important;
}
.donate.donate_btn a:hover{
 	-webkit-border-radius: 4px 4px 4px 4px!important;
 	border-radius: 4px 4px 4px 4px!important;
 }
 .header-container #nav li.fa a{
 	padding-left: .6em;
 }
 .header-container .nav li li:before{
 	padding-left: .5em;
 }





/* ==========================================================================
   05. Main Container General Layout Styles
   ========================================================================== */  
.main-container{
	padding: 0;
}
.main-content.full{
	width: 100%;
	float: none;
}
.main-content img, .right-aside img{
	max-width: 100%;
	border: none;
	height: auto;
	margin: 0 0 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a img{
	position: relative;
}
.right-aside{
	border-left-style: solid;
	border-left-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 2em;
}

.left-aside{
	clear: right;
}
a{
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
p a{
	text-decoration: underline;
}
/* Featured Block*/
.outter-wrapper{
	position: relative;
}
.outter-wrapper.feature{
	box-shadow: none;
	position: relative;
	z-index: 10;
}
.outter-wrapper.feature .wrapper{
	padding-bottom: 0;
	padding-top: 0;
}
.outter-wrapper:after{
	-webkit-box-shadow:  2px 0px 3px -2px rgba(0, 0, 0, .2);
	box-shadow:  2px 0px 3px -2px rgba(0, 0, 0, .2);
	position: absolute;
	right: 0px;
	height: 100%;
	display: block;
	content: "";
	width: 5px;
	top: 0;
}
.outter-wrapper:before{
	-webkit-box-shadow:  -2px 0px 3px -2px rgba(0, 0, 0, .2);
	box-shadow:  -2px 0px 3px -2px rgba(0, 0, 0, .2);
	position: absolute;
	left: 0px;
	height: 100%;
	display: block;
	content: "";
	width: 5px;
	top: 0;
}
.feature.map iframe{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	-webkit-transition: all .6s ease;  /* Fade to color for Chrome and Safari */
	 /*-webkit-backface-visibility: hidden;  Fix for transition flickering */
}
.feature.map .gmnoprint{
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	    -webkit-filter: grayscale(0%);
}

.feature .flexslider, .feature .flexslider-quote{
	margin-bottom: 0;
}
.feature .flex-control-nav.flex-control-paging{
	display: none;
}
.feature img{
	margin: 0;
	width: 100%;
	height: auto;
}
.feature iframe{
	margin: 0;
	width: 100%;
}
.feature-boxed .flexslider{
	padding-top: 2em;
}

.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:700px !important;
	overflow:hidden!important;
	border: none!important;

}
.fullwidthbanner .caption{
	visibility: hidden;
	position: absolute;
	top: 0;
}
.fullwidthbanner > ul > li{
	position: absolute;
}
.feature-heading{
	position: absolute;
	top: 28%;
	max-width: 400px;
}
.feature-heading p{
	font-size: 2.5em;
	line-height: 100%;
	margin-top: 20px;
}
.feature-heading p.heading {
    font-size: 20px!important;
    line-height: 100%!important;
    text-transform: uppercase;
    margin-bottom: 0!important;
}

/* Block Customs */
.pb_block.pb_block_last{
	padding-bottom: 2.5em;
}
.pb_block.pb_img.pb_block_last{
	padding-bottom: 0;
}
.pb_featured_posts .recentwork, .pb_widgets{
	padding-bottom: 2em;
}
.pb_people .main.wrapper{
	padding-bottom: 0;
}
.construction_msg{
	text-align: center;
	margin-top: 25%;
}



/* ==========================================================================
   06. Typography
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p{
	word-wrap: break-word;
} 
p{
	margin-bottom: 1.5em;
}  
h1, h2, h3, h4, h5, h6{ 
	font-weight: normal;
	line-height: 120%;
	letter-spacing: 0px;
	margin: 25px 0 .5em;
}
h1.super{
	font-size: 100px;
	margin-bottom: -30px;
}
h1, .text-seperator h5{
	font-size: 36px;
}
h2{
	font-size: 32px;
	margin-top: 15px;
}
h3, .coms h4{
	font-size: 26px;
}
h4{
	font-size: 22px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
	letter-spacing: 0px;
	position: relative;
}
h3.title{
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 0;
}
blockquote h6{
	top: -1.4em;
}

ul.meta{
	margin-bottom: 12px;
}
ul.meta li:before{
	display: none;
}
.main ul.meta li{
	border-top-style: solid;
	border-top-width: 1px;
	padding: .7em 0;
	font-size: 14px;
	text-transform: uppercase;
}
h6.date{
	margin-top: 0;
}
h6.tags a:before{
	 font-family: 'bulletsregular';
	 content: "p";
}
h1, h2, h3, .coms h4{
	text-transform: uppercase;
}
.more, ol > li:before, .feature-link{
	font-weight: normal;
}
strong, b{
	font-weight: strong;
}
.meta strong{
	font-weight: normal;
}
em{ 
	font-style: italic;
}
.lead, blockquote{
	font-size: 20px;
	line-height: 26px;
}
blockquote, caption, .wp-caption-text{
	font-style: italic;
}
caption, .wp-caption-text{
	font-size: 14px;
	padding-left: .5em;
	border-left-style: solid;
	border-left-width: 2px;
	margin-top: -.5em;
	display: inline-block;	
}
.wp-caption{
	margin-top: 1.5em;
}
.wp-caption.alignleft{
	padding-right: .75em;
}
.wp-caption.alignright{
	padding-left: .75em;
}
p.wp-caption-text{
	margin-bottom: .5em;
}
.lead{
	margin-top: 0;
}
.highlight{
	position: relative;
	margin-right: .2em;
	margin-left: .2em;
	display: inline-block;
	border-radius: 50px;
	padding: 0 .2em;
}
.main-container a{
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	cursor: pointer;
}


/*editbymb 13112013*/
h4.fittext {
	letter-spacing: -2px;
	margin: -10px 0 0;
}
h3.fittext{
	margin-top: .7em;
	padding-bottom: .25em;
}
.widget.kause_fact p{
	padding-top: .5em;
	border-top-style: solid;
	border-top-width: 1px;
}
.fittext{
	line-height: 100%;
	white-space: nowrap;
}




/* ==========================================================================
   07. Block Elements
   ========================================================================== */
hr { display: block; height: 1px; border: 0; border-top-style: solid; border-top-width: 1px; padding: 0; margin: 2.5em 0; }
hr.dash { display: block; height: 1px; border: 0; border-top-style: dashed; border-top-width: 1px; margin: 2.5em 0; padding: 0; }
hr.dots { display: block; height: 1px; border: 0; border-top-style: dotted; border-top-width: 1px; margin: 2.5em 0; padding: 0; }
.feature hr{
	border-width: 30px;
	margin-top: 0;
	margin-bottom: 0;
}
.text-seperator{
	display: block; height: 1px; border: 0; border-top-style: solid; border-top-width: 1px; padding: 0; margin: 3em 0; text-align: left;
}
.text-seperator h5{
	position: relative;
	top: -18px;
	display: inline-block;
	padding-left: 0em;
	padding-right: .5em;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0;
}
.text-seperator a{
	position: relative;
	top: -16px;
	display: inline-block;
	padding-left: 0em;
	padding-right: .5em;
	margin: 0;
	letter-spacing: 0;
}
pre{
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
	margin-bottom:10px;
	overflow:auto;
	width:auto;
	padding: 0 1em;
	background-color:#fff;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 51%, #efefef 51%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#ffffff), color-stop(51%,#efefef));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#efefef 51%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#efefef 51%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#efefef 51%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 51%,#efefef 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
	background-size: 100% 60px;
	line-height: 30px;
}
iframe{
	margin-top: 0em;
	margin-bottom: 1em;
	width: 100%;
	border: none;
}
.fluid-width-video-wrapper{
	margin-bottom: 2em;
	background-color: #ffffff;
	margin-top: 0em;
}
.fluid-width-video-wrapper iframe{
	width: 100%;
	padding: 0;
	margin: 0;
}
.thumb-gallery .fluid-width-video-wrapper{
	margin-bottom: 0;
}
blockquote.right, blockquote.left{
	margin: 0 3% 3%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
blockquote.right{
	border-left-style: solid; 
	border-left-width: 2px;
	padding-left: 1.3em;
}
blockquote{
	margin-right: 0;
	margin-left: 0;
}
cite{
	display: block;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 1em;
}
.tweet, .post-type-quote, .post-type-tweet{
	padding-left: 2.2em;
	position: relative;
	font-size: 28px;
	line-height: 36px;
}
.format-quote{
	padding-top: 1.5em;
}
.post-type-quote{
	padding-left: 0;
	margin-top: 0;
}
.post-type-tweet{
	margin-top: 0;
}
.post-type-tweet, .post-type-quote, blockquote.post-type-tweet blockquote, blockquote.post-type-quote blockquote {
	font-size: 28px;
	line-height: 36px;
	font-style: normal;
}
aside .tweet p, .twitter_theme_design .tweet{
	font-size: 17px;
	line-height: 24px;
	padding-left: 0;
	text-transform: none;
	font-style: italic;
}
.tweet:before, aside .tweet .meta:before, .twitter_theme_design .tweet .meta:before, .post-type-tweet:before{
	content: "L";
	font-family: 'socialicoregular';
	font-size: 70px;
	position: absolute;
	left: 0;
	top: 10px;
	font-style: normal;
}
aside .tweet:before, .twitter_theme_design .tweet:before{
	display: none;
}
aside .tweet .meta, .twitter_theme_design .tweet .meta{
	margin-top: 1.8em;
	position: relative;
	padding-left: 32px;
}
aside .tweet .meta:before, .twitter_theme_design .tweet .meta:before{
	font-size: 32px;
	top: 2px;
}
aside ul.tweets li.tweet:first-child{
		border: none;
}
aside ul.tweets li.tweet{
	padding-top: 0!important;
}
aside ul li:before, ul.link-list li:before, .statistics li:before{
	display: none;
}
aside ul li, ul.link-list li, ul.statistics li{
	border-top-style: solid;
	border-top-width: 1px;
	padding: .7em 0!important;
	font-size: 14px;
	text-transform: uppercase;
}
.recentwork .mosaic-block{
	margin-bottom: .5em;
	margin-top: .5em;
}
.recentwork{
	margin-bottom: 1em;
}

.twitter-timeline{
	background: #fff;
	border: 1px dotted #333;
}
.right-aside hr:last-child{
	display: none;
}



/* ==========================================================================
   08. Paralax Block Styles
   ========================================================================== */
.outter-wrapper.feature.parallax-block .wrapper{
	max-width: 850px;
	padding-top: 1.5em;
	padding-bottom: 2.5em;
}
.parallax-block .fluid-width-video-wrapper{
	border: 5px solid #ffffff;
	margin: 2.5em 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.parallax-block h4, .callout-block h4{
	font-size: 28px;
}
.parallax-block h5, .callout-block h5{
	font-size: 22px;	
}
.callout-block h4{
	margin: 1.33em 0 !important;
}
.callout-block.pb_block.pb_block_last{
	padding-bottom: 0;
}
.pb_img .align_center{
	text-align: center;
}
.pb_img .align_right{
	text-align: right;
}
.pb_img img{
	max-width: 100%;
}



/* ==========================================================================
   10. Social Block Styles
   ========================================================================== */
.social-block{
	padding-top: 1em;
	padding-bottom: 1em;
} 
.social-thumbs{
	overflow: hidden;
	height: 172px;
	margin: 2em 0;
}

.social-thumbs li:before{
	display: none;
}
.social-thumbs li{
	display:  inline-block;
	padding: .3em;
	opacity: 1;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
/*
.social-thumbs li:hover{
	-moz-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
*/



/* ==========================================================================
  10. Lists
   ========================================================================== */   
.main ul, .main ol{
	margin-bottom: 12px;
}
.main ul li > ul, .main ol li > ol{
	margin-bottom: 0;
	margin-left: -5px;
}
.main ul li.parent{
	padding-bottom: 0;
}   
.main ul li, .more, .feature-link, .comment-reply-link, .comment-edit-link, #cancel-comment-reply-link{
	list-style-type: none;
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 8px;
	position: relative;
	padding-left: 22px;
}
.more, .feature-link{
	text-decoration: none;
}
.feature-link{
	padding-left: 0;
}
.main ul li{
	padding-left: 18px;
}
.more:before,  .feature-link:after, .comment-reply-link:before, .comment-edit-link:before, #cancel-comment-reply-link:before{
	content: "g";
	font-family: 'bulletsregular';
	font-size: 16px;
	top: 7px;
	position: absolute;
}
.more:before, .comment-reply-link:before, .comment-edit-link:before, #cancel-comment-reply-link:before{
	left: 3px;	
}
.feature-link:after{
 	right: -22px;
 }
.main ul li:before{
	content: "s";
	font-family: 'bulletsregular';
	font-size: 14px;
	left: 4px;
	top: 5px;
	position: absolute;
	text-transform: lowercase;
}
.main ol{
	margin-left: 22px;
}
ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    list-style:none; /
	margin: 0 0 0 1em;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 0px;
}
ol > li:before {
    content:counter(li) "."; /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    position:absolute;
    top:-2px;
    left:-1.5em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:1.5em;
    margin-right:8px;
    padding:4px;
    text-align:center;
}
li ol,li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

ul.archive li{
	display: inline-block;
	min-width: 40%;
}
.statistics li em{
	font-size: 22px;
	padding-right: .4em;
}
.statistics li span{
	font-size: 18px;
	padding-left: .2em;
}


/* ============= Sitemap ===============*/  
ul.sitemap{
	display: table;
	width: 100%;
}
ul.sitemap li{
	display: table-cell;
	padding-left: 0;
	padding: 1px;
}
ul.sitemap li a{
	display: block;
	padding: 1em;
}
ul.sitemap li:before{
	display: none;
}
ul.sitemap li ul{
	margin-left: 1em;
}
ul.sitemap li ul li{
	display: block;
	padding-left: 18px;
	padding-bottom: 1em;
}
ul.sitemap li ul li:before{
	content: "s";
	font-family: 'bulletsregular';
	font-size: 16px;
	left: 3px;
	top: 6px;
	position: absolute;
	display: block;
}
ul.sitemap li ul li a{
	background: transparent!important;
	padding: .2em;
}




/* ==========================================================================
   09. Timeline Styles
   ========================================================================== */
.timeline-container{
	width:100%;
	margin:0px auto;
	overflow: auto;
	position: relative;
}
.vert-line{
	height:100%;
	position: absolute;
	left:50%; 
	width:2px;
	margin-left:-1px; 
	bottom:10px;
	z-index:100;
}
.vert-line:before, .vert-line:after{
	content: "";
	display: block;
	position: absolute;
	border-radius: 30px;
	width: 10px;
	height: 10px;
	left: -4px;
}
.vert-line:before{
	top: 11px;
}
.vert-line:after{
	top: 100%;
}
ul.timeline{
	width: 100%; 
	position: relative;
	list-style:none;
	overflow: hidden; 
	padding: 20px 0px;
	margin: 0px ;
}
ul.timeline > li{
	width:48.5%;
	position: relative;
	margin:0px 0px 30px;
	padding: 0;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	border-style: solid;
	border-width: 1px; 
	border-radius: 3px;
	display: none;
}
.milestone-container{
	padding: 0 1.5em 1.75em;
}
ul.timeline > li:before{
	border:6px solid;
	content:"";
	display: block;
	position: absolute;
}

/*editbymb 27102013*/

/*ul.timeline > li:nth-child(even){
	float:right;
	clear:right;
}
ul.timeline > li:nth-child(odd){
	float:left;
	clear:left;
}*/

ul.timeline > li.tl_right{
	float:right;
	clear:right;
}
ul.timeline > li.tl_left{
	float:left;
	clear:left;
}

ul.timeline > li .gallery {
	margin-bottom: 10px;	
}


ul.timeline > li.tl_right:before{
	border-bottom-color: #fff!important;
	border-top-color: #fff!important;
	border-left-color: #fff!important;
	left:-12px;
	top:30px; /* you can adjust */
}
ul.timeline > li.tl_left:before{
	border-bottom-color: #fff!important;
	border-top-color: #fff!important;
	border-right-color: #fff!important;
	right:-12px;
	left: 100%;
	top:30px; /* you can adjust */
}
ul.timeline .mosaic-block{
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	margin-bottom: 0;
}
ul.timeline .mosaic-block img{
	margin-bottom: 0;
}
ul.timeline img{
	margin-bottom: .5em;
}
.time-date{
	float: right;
	margin-top: .2em;
}
ul.timeline hr{
	margin: 1.5em 0;
}
.timeline_load_more {
	border-style: solid;
	border-width: 1px;	
	text-align: center;
	cursor: pointer;
}
.timeline_load_more:hover{
		
}
.timeline_load_more h4{
	margin-top: .5em;
	margin-bottom: .5em;
}
.timeline_load_img {
	text-align: center;
	display: none;	
}



/* ==========================================================================
  09. Paging and Comments
   ========================================================================== */ 
ul.pagination .left a, ul.pagination .right a, ul.paging a span{
	color: #fff;
	font-family: 'bulletsregular';
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #e8e8e8;
	padding: .3em .5em .2em;
}


ul.pagination, ul.page-numbers{
	text-align: center;
}
ul.pagination li:before, ul.paging li:before, ul.page-numbers li:before{
	display: none;
}
ul.pagination li, ul.paging li, ul.page-numbers li{
	padding-left: 0;
	display: inline;
	font-size: 20px;
	padding: .3em;
	cursor: pointer;
}
ul.pagination li a.active{
	/* see theme colours */
}
ul.pagination .left a, ul.pagination .right a, ul.paging a span, ul.page-numbers li a.next, ul.page-numbers li a.prev, ul.paging span{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: .3em .5em .2em;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	font-family: 'bulletsregular';
}
ul.paging span.inactive{
	text-transform: uppercase;
	opacity: .5;
	cursor: auto;
}
ul.paging .right span.inactive{
	text-transform: none;
}
ul.pagination .right a, ul.paging .right span, ul.page-numbers li a.next{
	padding-right: .4em;
	padding-left: .6em;
}
ul.paging{
	margin-top: 30px;
}
ul.paging a{
	font-size: 18px;
}
ul.page-numbers li a.next{
	float: right;
}
ul.page-numbers li a.prev{
	float: left;
}
.link-pages p{ /* FIX- need to update with p */
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DDE1E5;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 0;
	margin-top: 2em;
	padding: 0.3em;
	text-align: center;
	word-spacing: 12px;	
}
#comments_pagination{
	word-spacing: 12px;
	margin-top: 2em;
	padding: 0.3em;
}







/* ============= Comments ===============*/
ul.comments li{
	padding-left: 0;
}
ul.comments li div{
	line-height: 20px;
	padding: 0em;
}
ul.comments li div{
	padding: 1em 2%;
}
ul.comments ul li div{
	padding-left: 4%;
}
ul.comments ul ul li div{
	padding-left: 6%;
}
ul.comments ul ul ul li div{
	padding-left: 8%;
}
ul.comments ul ul ul ul li div{
	padding-left: 10%;
}
ul.comments ul ul ul ul ul li div{
	padding-left: 12%;
}
ul.comments ul ul ul ul ul ul li div{
	padding-left: 14%;
}
ul.comments ul{
	margin-bottom: 0;
}
ul.comments li > ul{
	margin: 0;
}
ul.comments .odd{ }
 
ul.comments li:before{
	display: none;
}
ul.comments h5, ul.comments h6{
	display: inline;
	font-size: 18px;
	letter-spacing: 0;
}
ul.comments h6{
	font-size: 14px;
	margin-left: 1em;
}
ul.comments li p{
	margin-top: .5em;
	margin-bottom: .5em;
}
#comments_pagination{
	text-align: center;
}
#comments_pagination .page-numbers{
	border-radius: 3px;
	background: transparent;
}

#comments_pagination .prev.page-numbers, #comments_pagination .next.page-numbers{
	display: none;
}
.comment-reply-link, .comment-edit-link, #cancel-comment-reply-link{
	float: right;
}




/* ==========================================================================
   10. Graphs
   ========================================================================== */
ol.graphs{
	margin: 0 0 2em;
}
ol.graphs > li:before{
	display: none;
}
ol.graphs > li{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: .4em;
	padding: 0;
}
ol.graphs > li div{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: .2em 2%;
}
ol.graphs > li span{
	float: right;
}
.per-10{
	width: 6%;
}
.per-20{
	width: 16%;
}
.per-30{
	width: 26%;
}
.per-40{
	width: 36%;
}
.per-50{
	width: 46%;
}
.per-60{
	width: 56%;
}
.per-70{
	width: 66%;
} 
.per-80{
	width: 76%;
}
.per-90{
	width: 86%;
}
.per-100{
	width: 96%;
}





/* ==========================================================================
   11. Buttons
   ========================================================================== */
.btn, input[type=button], input[type=submit]{
	border: none;
	font-weight: normal;
	font-size: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: .4em 1.8em;
	white-space: normal;
	text-align: center;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
	text-decoration: none;
}
input[type=button], input[type=submit]{
	padding: .6em 1.8em;
}
.widget input[type=button], .widget input[type=submit]{
	padding: .2em 1em;
}
a.btn:hover{
	color: #fff;
}
a.small-btn, input[type=button].small-btn, input[type=submit].small-btn, .widget input[type=submit]{
	font-size: 14px;
	padding: .4em 1.2em;
}
a.xsmall-btn, input[type=button].xsmall-btn, input[type=submit].xsmall-btn{
	font-size: 12px;
	padding: .2em 1em;
}
a.btn [class^="icon-"],
a.btn [class*=" icon-"]{
	padding-right: 5px;
	padding-left: 5px;
}
.white-btn{
	border-style: solid!important;
	border-width: 1px!important;
}
.button{
	text-decoration: none;
}



/* ==========================================================================
   12. Tables
   ========================================================================== */
.main table{
	border-style: solid;
	border-width: 1px;	
	text-align: left;
	width: 100%;
}
.main table th{
	padding: .5em;
	border-style: solid;
	border-width: 1px;	
	vertical-align: top;	
}
.main table td{
	padding: .5em;
	border-style: solid;
	border-width: 1px;	
	vertical-align: top;	
}
.main table tr:nth-child(2n+1){ }




/* ==========================================================================
   13. Forms
   ========================================================================== */
form{
	margin-top: 2em;
}
.widget form{
	margin-top: 1em;
}
fieldset{
	padding: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 1em;
}
fieldset fieldset{
	
}
label{
	font-weight: normal!;
	padding-right: 1em;
	display: inline-block;
}
input[type=text],  input[type=email], input[type=password], textarea, input[type=tel],  input[type=range], input[type=url]{
 	border: none;
	padding: 14px 2%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	outline: none;
	margin-bottom: 1em;
	resize: none;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget input[type=text],  .widget input[type=email], .widget input[type=password], .widget textarea, .widget input[type=tel],  .widget input[type=range], .widget input[type=url]{
	margin-bottom: .35em;
}
.widget textarea{
	height: 90px;
}
input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=password]:focus{
 	background: #f9f9f9;
}
input.half{
	width: 48%;
	margin-right: 4%;
}
input.full, textarea.full{
	width: 100%;
}
input.field-last{
	padding: 14px 2%;
	margin-right: 0;
}
 
textarea{
	width: 100%;
	height: 140px;
	display: block;
	resize: none;
	outline: none;
}
select, input[type=radio], input[type=checkbox] {
	margin-bottom: 1em;
	margin-right: 6px;
}
.error[generated=true] {
	font-size: 14px;
}
form.quick-contact{
	margin-top: 1.5em;
}
form.quick-contact input[type=text],  form.quick-contact input[type=email], form.quick-contact input[type=password], form.quick-contact textarea, 
form.quick-contact input[type=tel],  form.quick-contact input[type=range], input[type=url]{
	margin-bottom: .4em;
}
form.quick-contact textarea{
	height: 80px;
}
legend{
	font-size: 16px;
}



/* ==========================================================================
   14. Mosaic Styles
   ========================================================================== */
.mosaic-block {
	position:relative;
	overflow:hidden;
	width:100%;
	background:#ffffff url(img/progress.gif) no-repeat center center;
	margin: 0 0 2em;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mosaic-block img{
	margin: 0;
	border: none;
	width: 100%;
	height: auto;
}
.mosaic-backdrop {
	display:none;
	top:0;
	height:100%;
	width:100%;
	background:#fff;
}	
.mosaic-overlay {
	display:none;
	z-index:5;
	position:absolute;
	width:100%;
	height:100%;
	background:#111;
}		
.fade .mosaic-overlay {
	background:url(img/hover-magnify.png) no-repeat center center;
	background-color: rgba(0, 0, 0, .3);
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	filter:alpha(opacity=00);
	display:none;
	-webkit-backface-visibility: hidden;
}
.fade .mosaic-overlay.link {
	background:url(img/hover-gotopost.png) no-repeat center center;
	background-color: rgba(0, 0, 0, .3);
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	filter:alpha(opacity=00);
	display:none;
	-webkit-backface-visibility: hidden;
}

.fourth .mosaic-block{
	margin-bottom: .5em;
}
.corner-date{
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
	background-color: #222222;
	background-color: rgba(0, 0, 0, .5);
	text-transform: uppercase;
	padding: .4em .7em;
	font-size: 12px;
}




/* ==========================================================================
   15. Columns
   ========================================================================== */
.full{
	width: 100%;
	float: none;
} 
.half{
	width: 48%;
	margin-right: 4%;
	float: left;
}
.third{
	width: 30%;
	margin-right: 5%;
	float: left;
}
.fourth{
	width: 22%;
	margin-right: 4%;
	float: left;
}
.fifth{
	width: 18%;
	margin-right: 2.5%;
	float: left;
}
.two-thirds{
	width: 65%;
	margin-right: 5%;
	float: left;
}
.three-fourths{
	width: 74%;
	margin-right: 4%;
	float: left;
}
.two-fifths{
	width: 36%;
	margin-right: 3%;
	float: left;
}
.three-fifths{
	width: 61%;
	margin-right: 2%;
	float: left;
}
.four-fifths{
	width: 78%;
	margin-right: 4%;
	float: left;
}
.left, .alignleft{
	float: left;
}
.right, .alignright{
	float: right;
}
.column-example div{
	min-height: 1em;
	background: #efefef;
	margin-bottom: 1em;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	text-align: center;
}
.column-example div:hover{
	background: #ff6666;
}
.thumb-gallery .third{
	width: 33.33%;
	margin-right: 0%;
	border: 2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.thumb-gallery .third.mosaic-block{
	margin-bottom: 0;
}
.right-aside .mosaic-block, .widget-footer .mosaic-block{
	margin-bottom: .5em;
}
.boxed{
	background: #F7F7F7;
	margin-bottom: 2em;
}
.boxed img{
	margin-top: 0;
	margin-bottom: 0;
}
.boxed .inner-box{
	padding: .75em;
	padding-top: 0;
}
.boxed .inner-box .quote:before{
	content: "“";
	font-size: 42px;
	font-style: normal;
	padding-right: 4px;
	position: relative;
	top: 18px;
	
}
.boxed .inner-box .quote{
	position: relative;
	top: -8px;
}


/* ==========================================================================
   16. Pricing and Team
   ========================================================================== */
.price{
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 1em;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	-webkit-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.price:hover, .price-feature{
	-webkit-box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .2);
	box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .2);
}
.price-detail{
	padding: 1.5em;
	padding-top: .5em;
}
.price h3{
	margin: 0;
	padding: 1em;
}
.price h3 span{
	display: block;
	font-size: 48px;
	margin-top: 15px;
}
.price h3 span span{
	display: inline-block;
	font-size: 14px;
	margin-top: 0;
	line-height: 16px;
}
.price-detail li:before{
	display: none;
}
.price-detail ul li{
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 0;
}
.price-detail ul li:last-child{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.price-feature{
	position: relative;
	top: -1em;
	padding-bottom: 2em;
}


/* Price alt */
.price-table{
	display: table;
	width: 100%;
	margin-bottom: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 1em;
	margin-bottom: 2em;
	width: 100%;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	-webkit-box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.price-row{
	display: table-row;
}
.price-table:hover, .price-table-feature{
	-webkit-box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .2);
	box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .2);
}
.price-cell{
	display: table-cell;
	vertical-align: top;
	border-right-style: dashed;
	border-right-width: 1px;
	text-align: center;
	padding: 8px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative!important;
}
.price-cell.feature{
	min-width: 120px;
	max-width: 120px;
}
.price-cell .inwrap{
	position: relative;
}
.price-cell .inwrap:after{
	content: "+";
	position: absolute;
	right: -29px;
	bottom: 50%;
	display: block;
	font: bold 28px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.price-cell.last{
	border: none;
	padding-right: 20px!important;
	vertical-align: middle;
	min-width: 160px;
}
.price-cell.last .btn{
	margin-bottom: 0;
}
.price-cell h3 span{
	display: block;
	font-size: 48px;
	margin-top: 15px;
}
.price-cell h3 span span{
	font-size: 18px;
	display: inline;
}
.pb_pricing .price-cell ul li:before{
	position: relative;
	left: -5px;
	top: 0;
}


.boxed ul.social-link{
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: .5em;
	margin-top: 1em;
}
.boxed ul.social-link li{
	display: inline-block;
	padding: .7em 0 .3em;
}
.boxed ul.social-link li:last-child{
	padding-right: 0;
}
.boxed ul.social-link a{
	 font-size: 18px;
	 -webkit-transition: all 250ms ease-in-out;
	 -moz-transition: all 250ms ease-in-out;
	 -ms-transition: all 250ms ease-in-out;
	 -o-transition: all 250ms ease-in-out;
	 transition: all 250ms ease-in-out;
	 opacity: 1;
	 padding-right: 5px;
	 text-transform: lowercase;
}
.boxed h4{
	font-size: 18px;
	margin-bottom: 0;
}
.boxed h5{
	margin-top: 5px;
	font-size: 16px;
}


/* People */
.cpt_people{
	margin-bottom: 2em;
}
.cpt_people .social-link{
	border-top-style: solid;
	border-top-width: 1px;
}
.cpt_people .social-link li{
	border: none!important;
	display: inline-block;
	padding-right: .65em!important;
}
.meta_tagline{
	text-transform: none!important;
}
.corp-head{
	float: left;
	margin-right: 1.5em;
	max-width: 280px;
}
.personColumn img{
	width: 100%;
}


/* ==========================================================================
   17. Message Boxes
   ========================================================================== */
.message, div.wpcf7-validation-errors, .woocommerce-message, .woocommerce-error, .woocommerce-info, .col2-set.addresses .address{
	border-width: 1px;
	border-style: solid;
	display: block;
	padding: .5em 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 1em;
}
.message.success{
	border-color: #a2e29d;
	background: #e2f5e4;
}
.message.info, .woocommerce-info{
	border-color: #7bb8e2;
	background: #d2e4f1;
}
.message.error, .woocommerce-error{
	border-color: #fc604a;
	background: #ffd4ce;
}
.message.notice, div.wpcf7-validation-errors{
	border-color: #fcc84a;
	background: #fffcce;
}
.message.promo{
	padding: 1.2em 2em;
	border: none;
	font-size: 28px;
	line-height: 120%;
	text-align: center;
	margin-bottom: 0;
}
.message.promo h2{
	font-size: 28px;
	
}
.message.promo *{
	margin-top: .5em;
	margin-bottom: .5em;
}
span.wpcf7-not-valid-tip{
	background: none;
	border: none;
	position: relative;
	left: 0;
	top: -10px;
}
div.wpcf7-validation-errors{
	font-size: 13px;
	line-height: 18px;
	font-style: italic;
}




/* ==========================================================================
   18. Tabs
   ========================================================================== */
ul.tab-nav {
	position: relative;
	width:100%;
	margin: 0 auto!important;
	top: 1px;
}
ul.tab-nav li {
	float:left;
	position:relative;
	display:block;
	text-align:center;
	margin-right: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
	padding: .5em 1em!important;
	text-transform: none;
} 
ul.tab-nav li:before{
	display: none;
}
ul.tab-nav li:hover {
	cursor:pointer;
}
ul.tab-nav li.active {
	z-index:50;
	border: none;
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
}
.tab-content-block {
	clear:both;
	position:relative;
	width: 100%;
	border-style: solid;
	border-width: 1px;
}
.tab_content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .75em;
}
h3.v_nav {display: none;}

h3.v_nav{
	background: #ededed;
	text-transform: none;
	font-size: 16px;
}	


/* ==========================================================================
   19. Toggles
   ========================================================================== */
.toggle-btn { 
	text-decoration:none; 
	display:block;
}
.toggle-content{ 
	display:none;
}
.toggle-content.active{
	display: block;
}
ul.toggle li:first-child, ul.accordion li:first-child{
	border-top-style: solid;
	border-top-width: 1px;
}
ul.toggle li {
	position:relative;
	overflow:hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: .75em;
	padding-right: 0;
	padding-bottom: .75em;
}
ul.toggle li:before{
	top: 13px;
}

ul.toggle{
	margin-bottom: 1.5em;
}
ul.toggle li a{
	padding-top: 0;
	padding-bottom: 0;
}

/* =======  ACCORDION =========== */
.accordion-btn { 
	text-decoration:none; 
	display:block;
}
.accordion-content{ 
	display:none;
}
.accordion-content.active{
	display: block;
}
ul.accordion li {
	position:relative;
	overflow:hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: .75em;
	padding-right: 0;
	padding-bottom: .75em;
	text-transform: none;
	font-size: 16px;
}
aside ul.accordion li{
	border-top: none;
}
ul.accordion li:before{
	top: 15px;
}
ul.accordion{
	margin-bottom: 1.5em;
}
.widget-footer ul.accordion li{
	font-size: 14px;
}			
			
			
			
/* ==========================================================================
   20. Isotope styles
   ========================================================================== */

/*editbymb 12102013*/

/*moved to isotope.css*/

/* ==========================================================================
   21. Widget Footer Styles
   ========================================================================== */
   
.widget-footer {
	padding-bottom: 2.5em;
	padding-top: 1em;
	font-size: 14px;
}
.widget-footer img{
	max-width: 100%;
}
.widget-footer ul.tweets li{
	padding-left: 0;
}
.widget-footer .tweet{
	font-size: 14px;
	line-height: 22px;
	padding-left: 0;
	font-style: italic;
}
.widget-footer .tweet:before{
	display: none;
}
.widget-footer .tweet > p:before{
	content: "L";
	font-family: 'socialicoregular';
	font-size: 36px;
	position: relative;
	left: 0;
	top: 6px;
	padding-right: 5px;
	font-style: normal;
}
.widget-footer .tweet > p{
	margin-top: 0;
}
.widget-footer .tweet .meta{
	display: none;
}
.widget-footer .fourth.widget{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 2%;
}
.widget-footer .fourth.widget.last{
	border: none;
}
.widget-footer input[type="text"], .widget-footer input[type="email"], .widget-footer input[type="password"]{
	margin-bottom: .5em;
}







/* ==========================================================================
   22. Footer Styles
   ========================================================================== */			
footer{
	font-size: 14px;
	padding: 0 1em;
}
footer.feature{
	padding-top: 1em;
	padding-bottom: 1em;
}
.logo-foot{
	display: inline-block;
	padding-right: 5px;
}
ul.social-link li:before{
	display: none;
}
footer ul.social-link li{
	display: inline-block;
	padding: .5em .4em .3em;
}
footer ul.social-link li:last-child{
	padding-right: 0;
}
footer ul.social-link a em:before{
	 font-size: 24px;
	 -webkit-transition: all 250ms ease-in-out;
	 -moz-transition: all 250ms ease-in-out;
	 -ms-transition: all 250ms ease-in-out;
	 -o-transition: all 250ms ease-in-out;
	 transition: all 250ms ease-in-out;
	 text-transform: uppercase;
}
.foot.left{
	padding-top: .7em;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #111;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
}




/* ==========================================================================
   24. Flags
   ========================================================================== */
   
 a.flag{
	padding-left: 25px!important;
	background-size: 18px ;
	background-repeat: no-repeat;
	background-position: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
li.flag{
	background-repeat: no-repeat;
}
ul.sitemap li.flag{
	background-image: none!important;
}
a.header-container .nav li .flag{
	background-position: 0 25px;
}
a.header-container .nav li li .flag{
	background-position: 5px 5px;
	padding-left: 30px!important;
}

#nav li.flag ul{
	margin-left: -40px;
}
#nav li.flag a{
	padding-left: 0;
}
#nav li.flag{
	padding-left: 25px!important;
	background-size: 18px ;
	background-repeat: no-repeat;
	background-position: 0 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#nav li.flag li.flag, #nav li li.flag{
	background-position: 15px 12px;
	padding-left: 40px!important;
}

li.flag.af{ background-image: url(./img/flags/AF.png); }
li.flag.ax{ background-image: url(./img/flags/AX.png); }
li.flag.al{ background-image: url(./img/flags/AL.png); }
li.flag.dz{ background-image: url(./img/flags/DZ.png); } 
li.flag.as{ background-image: url(./img/flags/AS.png); } 
li.flag.ad{ background-image: url(./img/flags/AD.png); }
li.flag.ao{ background-image: url(./img/flags/AO.png); }
li.flag.ai{ background-image: url(./img/flags/AI.png); }
li.flag.aq{ background-image: url(./img/flags/AQ.png); }
li.flag.ag{ background-image: url(./img/flags/AG.png); }
li.flag.ar{ background-image: url(./img/flags/AR.png); }
li.flag.am{ background-image: url(./img/flags/AM.png); }
li.flag.aw{ background-image: url(./img/flags/AW.png); }
li.flag.au{ background-image: url(./img/flags/AU.png); }
li.flag.at{ background-image: url(./img/flags/AT.png); }
li.flag.az{ background-image: url(./img/flags/AZ.png); }
li.flag.bs{ background-image: url(./img/flags/BS.png); }
li.flag.bh{ background-image: url(./img/flags/BH.png); } 
li.flag.bd{ background-image: url(./img/flags/BD.png); }
li.flag.bb{ background-image: url(./img/flags/BB.png); }
li.flag.by{ background-image: url(./img/flags/BY.png); }
li.flag.be{ background-image: url(./img/flags/BE.png); }
li.flag.bz{ background-image: url(./img/flags/BZ.png); }           
li.flag.bj{ background-image: url(./img/flags/BJ.png); }  
li.flag.bm{ background-image: url(./img/flags/BM.png); }
li.flag.bt{ background-image: url(./img/flags/BT.png); }     
li.flag.bo{ background-image: url(./img/flags/BO.png); }
li.flag.bq{ background-image: url(./img/flags/BQ.png); }
li.flag.ba{ background-image: url(./img/flags/BA.png); }
li.flag.bw{ background-image: url(./img/flags/BW.png); }       
li.flag.bv{ background-image: url(./img/flags/BV.png); }
li.flag.br{ background-image: url(./img/flags/BR.png); }
li.flag.io{ background-image: url(./img/flags/IO.png); }
li.flag.bn{ background-image: url(./img/flags/BN.png); }
li.flag.bg{ background-image: url(./img/flags/BG.png); }
li.flag.bf{ background-image: url(./img/flags/BF.png); }
li.flag.bi{ background-image: url(./img/flags/BI.png); }
li.flag.kh{ background-image: url(./img/flags/KH.png); }
li.flag.cm{ background-image: url(./img/flags/CM.png); }
li.flag.ca{ background-image: url(./img/flags/CA.png); }
li.flag.cv{ background-image: url(./img/flags/CV.png); }             
li.flag.ky{ background-image: url(./img/flags/KY.png); }
li.flag.cf{ background-image: url(./img/flags/CF.png); }
li.flag.td{ background-image: url(./img/flags/TD.png); }
li.flag.cl{ background-image: url(./img/flags/CL.png); }
li.flag.cn{ background-image: url(./img/flags/CN.png); }        
li.flag.cx{ background-image: url(./img/flags/CX.png); }
li.flag.cc{ background-image: url(./img/flags/CC.png); }
li.flag.co{ background-image: url(./img/flags/CO.png); }
li.flag.km{ background-image: url(./img/flags/KM.png); }
li.flag.cg{ background-image: url(./img/flags/CG.png); }
li.flag.cd{ background-image: url(./img/flags/CD.png); }
li.flag.ck{ background-image: url(./img/flags/CK.png); }
li.flag.cr{ background-image: url(./img/flags/CR.png); }
li.flag.ci{ background-image: url(./img/flags/CI.png); }
li.flag.hr{ background-image: url(./img/flags/HR.png); }
li.flag.cu{ background-image: url(./img/flags/CU.png); }
li.flag.cw{ background-image: url(./img/flags/CW.png); }
li.flag.cy{ background-image: url(./img/flags/CY.png); }
li.flag.cz{ background-image: url(./img/flags/CZ.png); }
li.flag.dk{ background-image: url(./img/flags/DK.png); } 
li.flag.dj{ background-image: url(./img/flags/DJ.png); }
li.flag.dm{ background-image: url(./img/flags/DM.png); }
li.flag.do{ background-image: url(./img/flags/DO.png); }
li.flag.ec{ background-image: url(./img/flags/EC.png); }
li.flag.eg{ background-image: url(./img/flags/EG.png); }
li.flag.sv{ background-image: url(./img/flags/SV.png); }
li.flag.gq{ background-image: url(./img/flags/GQ.png); }
li.flag.er{ background-image: url(./img/flags/ER.png); }
li.flag.ee{ background-image: url(./img/flags/EE.png); }
li.flag.et{ background-image: url(./img/flags/ET.png); }
li.flag.fk{ background-image: url(./img/flags/FK.png); }
li.flag.fo{ background-image: url(./img/flags/FO.png); }
li.flag.fj{ background-image: url(./img/flags/FJ.png); }
li.flag.fi{ background-image: url(./img/flags/FI.png); }
li.flag.fr{ background-image: url(./img/flags/FR.png); }
li.flag.gf{ background-image: url(./img/flags/GF.png); }
li.flag.pf{ background-image: url(./img/flags/PF.png); }
li.flag.tf{ background-image: url(./img/flags/TF.png); } 
li.flag.ga{ background-image: url(./img/flags/GA.png); }
li.flag.gm{ background-image: url(./img/flags/GM.png); }
li.flag.ge{ background-image: url(./img/flags/GE.png); }
li.flag.de{ background-image: url(./img/flags/DE.png); }
li.flag.gh{ background-image: url(./img/flags/GH.png); }
li.flag.gi{ background-image: url(./img/flags/GI.png); }
li.flag.gr{ background-image: url(./img/flags/GR.png); }
li.flag.gl{ background-image: url(./img/flags/GL.png); }
li.flag.gd{ background-image: url(./img/flags/GD.png); }
li.flag.gp{ background-image: url(./img/flags/GP.png); }
li.flag.gu{ background-image: url(./img/flags/GU.png); }                          
li.flag.gt{ background-image: url(./img/flags/GT.png); }
li.flag.gg{ background-image: url(./img/flags/GG.png); }
li.flag.gn{ background-image: url(./img/flags/GN.png); }
li.flag.gw{ background-image: url(./img/flags/GW.png); }
li.flag.gy{ background-image: url(./img/flags/GY.png); }
li.flag.ht{ background-image: url(./img/flags/HT.png); }
li.flag.hm{ background-image: url(./img/flags/HM.png); }
li.flag.va{ background-image: url(./img/flags/VA.png); }
li.flag.hn{ background-image: url(./img/flags/HN.png); }
li.flag.hk{ background-image: url(./img/flags/HK.png); }
li.flag.hu{ background-image: url(./img/flags/HU.png); }
li.flag.is{ background-image: url(./img/flags/IS.png); }
li.flag.in{ background-image: url(./img/flags/IN.png); }
li.flag.id{ background-image: url(./img/flags/ID.png); }
li.flag.ir{ background-image: url(./img/flags/IR.png); }
li.flag.iq{ background-image: url(./img/flags/IQ.png); }
li.flag.ie{ background-image: url(./img/flags/IE.png); }
li.flag.im{ background-image: url(./img/flags/IM.png); }
li.flag.il{ background-image: url(./img/flags/IL.png); }
li.flag.it{ background-image: url(./img/flags/IT.png); }
li.flag.jm{ background-image: url(./img/flags/JM.png); }
li.flag.jp{ background-image: url(./img/flags/JP.png); }
li.flag.je{ background-image: url(./img/flags/JE.png); }
li.flag.jo{ background-image: url(./img/flags/JO.png); }
li.flag.kz{ background-image: url(./img/flags/KZ.png); }
li.flag.ke{ background-image: url(./img/flags/KE.png); }
li.flag.ki{ background-image: url(./img/flags/KI.png); }
li.flag.kp{ background-image: url(./img/flags/KP.png); }
li.flag.kr{ background-image: url(./img/flags/KR.png); }
li.flag.kw{ background-image: url(./img/flags/KW.png); }
li.flag.kg{ background-image: url(./img/flags/KG.png); }
li.flag.la{ background-image: url(./img/flags/LA.png); }
li.flag.lv{ background-image: url(./img/flags/LV.png); }
li.flag.lb{ background-image: url(./img/flags/LB.png); }
li.flag.ls{ background-image: url(./img/flags/LS.png); }
li.flag.lr{ background-image: url(./img/flags/LR.png); }
li.flag.ly{ background-image: url(./img/flags/LY.png); }
li.flag.li{ background-image: url(./img/flags/LI.png); }
li.flag.lt{ background-image: url(./img/flags/LT.png); }
li.flag.lu{ background-image: url(./img/flags/LU.png); }
li.flag.mo{ background-image: url(./img/flags/MO.png); }
li.flag.mk{ background-image: url(./img/flags/MK.png); }
li.flag.mg{ background-image: url(./img/flags/MG.png); }
li.flag.mw{ background-image: url(./img/flags/MW.png); }
li.flag.my{ background-image: url(./img/flags/MY.png); }
li.flag.mv{ background-image: url(./img/flags/MV.png); }
li.flag.ml{ background-image: url(./img/flags/ML.png); }
li.flag.mt{ background-image: url(./img/flags/MT.png); }
li.flag.mh{ background-image: url(./img/flags/MH.png); }
li.flag.mq{ background-image: url(./img/flags/MQ.png); }
li.flag.mr{ background-image: url(./img/flags/MR.png); }
li.flag.mu{ background-image: url(./img/flags/MU.png); }
li.flag.yt{ background-image: url(./img/flags/YT.png); }
li.flag.mx{ background-image: url(./img/flags/MX.png); }
li.flag.fm{ background-image: url(./img/flags/FM.png); }
li.flag.md{ background-image: url(./img/flags/MD.png); }
li.flag.mc{ background-image: url(./img/flags/MC.png); }
li.flag.mn{ background-image: url(./img/flags/MN.png); }
li.flag.me{ background-image: url(./img/flags/ME.png); }
li.flag.ms{ background-image: url(./img/flags/MS.png); }
li.flag.ma{ background-image: url(./img/flags/MA.png); }
li.flag.mz{ background-image: url(./img/flags/MZ.png); }
li.flag.mm{ background-image: url(./img/flags/MM.png); }
li.flag.na{ background-image: url(./img/flags/NA.png); }
li.flag.nr{ background-image: url(./img/flags/NR.png); }
li.flag.np{ background-image: url(./img/flags/NP.png); }
li.flag.nl{ background-image: url(./img/flags/NL.png); }
li.flag.nc{ background-image: url(./img/flags/NC.png); }
li.flag.nz{ background-image: url(./img/flags/NZ.png); }
li.flag.ni{ background-image: url(./img/flags/NI.png); }
li.flag.ne{ background-image: url(./img/flags/NE.png); }
li.flag.ng{ background-image: url(./img/flags/NG.png); }
li.flag.nu{ background-image: url(./img/flags/NU.png); }
li.flag.nf{ background-image: url(./img/flags/NF.png); }
li.flag.mp{ background-image: url(./img/flags/MP.png); }
li.flag.no{ background-image: url(./img/flags/NO.png); }
li.flag.om{ background-image: url(./img/flags/OM.png); }
li.flag.pk{ background-image: url(./img/flags/PK.png); }
li.flag.pw{ background-image: url(./img/flags/PW.png); } 
li.flag.ps{ background-image: url(./img/flags/PS.png); } 
li.flag.pa{ background-image: url(./img/flags/PA.png); }
li.flag.pg{ background-image: url(./img/flags/PG.png); } 
li.flag.py{ background-image: url(./img/flags/PY.png); } 
li.flag.pe{ background-image: url(./img/flags/PE.png); }
li.flag.ph{ background-image: url(./img/flags/PH.png); } 
li.flag.pn{ background-image: url(./img/flags/PN.png); } 
li.flag.pl{ background-image: url(./img/flags/PL.png); }
li.flag.pt{ background-image: url(./img/flags/PT.png); } 
li.flag.pr{ background-image: url(./img/flags/PR.png); } 
li.flag.qa{ background-image: url(./img/flags/QA.png); }
li.flag.re{ background-image: url(./img/flags/RE.png); }
li.flag.ro{ background-image: url(./img/flags/RO.png); }
li.flag.ru{ background-image: url(./img/flags/RU.png); }
li.flag.rw{ background-image: url(./img/flags/RW.png); }       
li.flag.bl{ background-image: url(./img/flags/BL.png); }   
li.flag.sh{ background-image: url(./img/flags/SH.png); }
li.flag.kn{ background-image: url(./img/flags/KN.png); }   
li.flag.lc{ background-image: url(./img/flags/LC.png); }
li.flag.mf{ background-image: url(./img/flags/MF.png); }
li.flag.pm{ background-image: url(./img/flags/PM.png); }
li.flag.vc{ background-image: url(./img/flags/VC.png); }
li.flag.ws{ background-image: url(./img/flags/WS.png); }
li.flag.sm{ background-image: url(./img/flags/SM.png); }
li.flag.st{ background-image: url(./img/flags/ST.png); }
li.flag.sa{ background-image: url(./img/flags/SA.png); }
li.flag.sn{ background-image: url(./img/flags/SN.png); }
li.flag.rs{ background-image: url(./img/flags/RS.png); }
li.flag.sc{ background-image: url(./img/flags/SC.png); }
li.flag.sl{ background-image: url(./img/flags/SL.png); }
li.flag.sg{ background-image: url(./img/flags/SG.png); }
li.flag.sx{ background-image: url(./img/flags/SX.png); }
li.flag.sk{ background-image: url(./img/flags/SK.png); }   
li.flag.si{ background-image: url(./img/flags/SI.png); }
li.flag.sb{ background-image: url(./img/flags/SB.png); }
li.flag.so{ background-image: url(./img/flags/SO.png); }
li.flag.za{ background-image: url(./img/flags/ZA.png); }   
li.flag.gs{ background-image: url(./img/flags/GS.png); }
li.flag.ss{ background-image: url(./img/flags/SS.png); }
li.flag.es{ background-image: url(./img/flags/ES.png); }
li.flag.lk{ background-image: url(./img/flags/LK.png); }
li.flag.sd{ background-image: url(./img/flags/SD.png); } 
li.flag.sr{ background-image: url(./img/flags/SR.png); }
li.flag.sj{ background-image: url(./img/flags/SJ.png); }
li.flag.sz{ background-image: url(./img/flags/SZ.png); }
li.flag.se{ background-image: url(./img/flags/SE.png); }
li.flag.ch{ background-image: url(./img/flags/CH.png); }
li.flag.sy{ background-image: url(./img/flags/SY.png); }
li.flag.tw{ background-image: url(./img/flags/TW.png); }
li.flag.tj{ background-image: url(./img/flags/TJ.png); }
li.flag.tz{ background-image: url(./img/flags/TZ.png); }
li.flag.th{ background-image: url(./img/flags/TH.png); }
li.flag.tl{ background-image: url(./img/flags/TL.png); }
li.flag.tg{ background-image: url(./img/flags/TG.png); }
li.flag.tk{ background-image: url(./img/flags/TK.png); }
li.flag.to{ background-image: url(./img/flags/TO.png); }
li.flag.tt{ background-image: url(./img/flags/TT.png); }
li.flag.tn{ background-image: url(./img/flags/TN.png); }
li.flag.tr{ background-image: url(./img/flags/TR.png); }
li.flag.tm{ background-image: url(./img/flags/TM.png); }
li.flag.tc{ background-image: url(./img/flags/TC.png); }
li.flag.tv{ background-image: url(./img/flags/TV.png); }
li.flag.ug{ background-image: url(./img/flags/UG.png); }
li.flag.ua{ background-image: url(./img/flags/UA.png); }
li.flag.ae{ background-image: url(./img/flags/AE.png); }
li.flag.gb{ background-image: url(./img/flags/GB.png); }
li.flag.us{ background-image: url(./img/flags/US.png); }
li.flag.um{ background-image: url(./img/flags/UM.png); }  
li.flag.uy{ background-image: url(./img/flags/UY.png); } 
li.flag.uz{ background-image: url(./img/flags/UZ.png); }
li.flag.vu{ background-image: url(./img/flags/VU.png); }
li.flag.ve{ background-image: url(./img/flags/VE.png); }
li.flag.vn{ background-image: url(./img/flags/VN.png); }
li.flag.vg{ background-image: url(./img/flags/VG.png); }
li.flag.vi{ background-image: url(./img/flags/VI.png); }
li.flag.wf{ background-image: url(./img/flags/WF.png); }
li.flag.eh{ background-image: url(./img/flags/EH.png); }  
li.flag.ye{ background-image: url(./img/flags/YE.png); }
li.flag.zm{ background-image: url(./img/flags/ZM.png); }
li.flag.zw{ background-image: url(./img/flags/ZW.png); }




/* ==========================================================================
   25. Author's custom styles
   ========================================================================== */
/* Icon Font Examples for Preview only */
.icon{
	width: 75px;
	display: inline-block;
}

/* Icon Font Examples */
.icon-thirds li{
	padding-left: 0!important;
	display: inline-block;
	width: 32%;
	font-size: 14px;
}
.icon-thirds li:before{
	display: none;
}
.icon-thirds li:hover .fa{
	-moz-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.icon-thirds li i:before{
	padding-right: 10px;
	font-size: 16px;
}

/* Addthis Examples for Preview only */
.addthis_toolbox.addthis_default_style{
	text-align: center;
	margin-top: 1.5em;
}
.addthis_toolbox.addthis_default_style a{
	float: none;
}
.twitter-share-button, #___plusone_0{
	width: 80px!important;
}
.fb_edge_widget_with_comment{
	margin-left: 2em;
}


/* Facebook */
#fb-root {
	display: none;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100%!important;
}

.nope{
	margin: 0!;
}

/**********************************************
 MULTI POST
**********************************************/

	.multi_navigation_hint {
		float: right;
		font-style: italic;
		font-size: 12px;
	}

	.link-multipages {
		width: 50%;
		display: inline;
	}

	.link-multipages a:first-child i{
		margin-right: 10px;
	}

	.link-multipages a:last-child i{
		margin-left: 10px;
	}

	.multi_nav_control {
		border-top-style: solid;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		margin-bottom: 20px;
		padding: 7px 0;
	}


/**********************************************
BLOCK: SUPPORTERS
**********************************************/

	.social-thumbs img {
		height: 77px;
		width: auto;
	}






/* ==========================================================================
   26. Fonts
   ========================================================================== */

@font-face {
    font-family: 'league_gothicregular';
    src: url('font/leaguegothic-regular-webfont.eot');
    src: url('font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/leaguegothic-regular-webfont.woff') format('woff'),
         url('font/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('font/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bulletsregular';
    src: url('font/bullets-webfont.eot');
    src: url('font/bullets-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bullets-webfont.woff') format('woff'),
         url('font/bullets-webfont.ttf') format('truetype'),
         url('font/bullets-webfont.svg#bulletsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('font/roboto-bold-webfont.eot');
    src: url('font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-bold-webfont.woff') format('woff'),
         url('font/roboto-bold-webfont.ttf') format('truetype'),
         url('font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto-regular-webfont.eot');
    src: url('font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-regular-webfont.woff') format('woff'),
         url('font/roboto-regular-webfont.ttf') format('truetype'),
         url('font/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('font/Roboto-Medium-webfont.eot');
    src: url('font/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Medium-webfont.woff') format('woff'),
         url('font/Roboto-Medium-webfont.ttf') format('truetype'),
         url('font/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('font/Roboto-Condensed-webfont.eot');
    src: url('font/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Condensed-webfont.woff') format('woff'),
         url('font/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('font/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('font/RobotoCondensed-Bold-webfont.eot');
    src: url('font/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('font/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('font/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'socialicoregular';
    src: url('font/socialico-webfont-webfont.eot');
    src: url('font/socialico-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/socialico-webfont-webfont.woff') format('woff'),
         url('font/socialico-webfont-webfont.ttf') format('truetype'),
         url('font/socialico-webfont-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





/* ==========================================================================
   27. Helper classes
   ========================================================================== */

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.last{ margin-right: 0!important; padding-right: 0!important;  }
.first{ margin-left: 0!important; padding-left: 0!important;}
.tableless, .tableless th, .tableless tr, .tableless td{
	background: none!important;
	border: none!important;
	padding: 0px!important;
}
.centered{ text-align: center!important; }
.top-margin-x6{ margin-top: 6em; }
.top-margin-x4{ margin-top: 4em; }
.vertical-spacer{ height: 200px; clear: both; }






/* ==========================================================================
   28. Print styles
   ========================================================================== */

@media print {
* { background: transparent !important; color: #000 !important; box-shadow:none !important; text-shadow: none !important;}
a, a:visited { text-decoration: underline; }
a[href]:after { content: " (" attr(href) ")";}
abbr[title]:after { content: " (" attr(title) ")"; }
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
img { max-width: 100% !important; page-break-inside: avoid; }

@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }
}



/* ==========================================================================
 	29. Misc. MB
   ========================================================================== */

.wp-caption {
	margin: 0;
	border: none;
	max-width: 100%;
}

.wp-caption-text {
	margin-top: 0;
	border-left-style: solid;
	border-left-width: 2px;
	padding-left: 5px;
}

.sticky h2:before {
	content: "q";
	display: inline-block;
	font-family: 'bulletsregular';
	font-size: 26px;
	position: absolute;
	left: -20px;
	top: 1px;
}
.sticky h2{
	position: relative;
}
.gallery img{
	border: none!important;
}
.gallery-caption {
	position: relative;
}

.bypostauthor {
	position: relative;
}

.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}


.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.size-auto img, 
.size-full img,
.size-large img,
.size-medium img,
.size-thumbnail img {
	max-width: 100%;
	height: auto;
}




/* download block styles */

.download-table .fa {
	font-size: 60px;
	margin-top: 40px;
}

.download-table .price-cell.content {
	text-align: left;
	padding: 1em;	
}

.download-table .price-cell.content h3 {
	margin-top: 5px;	
	margin-bottom: 5px;
}
