/* Tribe Bar Filter */
#tribe-bar-form{
	border-style: solid;
	border-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
}
.tribe-bar-filters-inner{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 130px;
	position: relative;
}
.tribe-bar-date-filter, .tribe-bar-search-filter{
	width: 48%;
	float: left;
}
#tribe-bar-views{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: .5em;
	margin-bottom: .5em;
}
.tribe-bar-views-inner label{
	padding-right: 5px;
}
.tribe-bar-views-inner label:after{
	content: ":";
}
.tribe-bar-date-filter{
	padding-right: 2%;
}
.tribe-bar-submit{
	position: absolute;
	right: 0px;
	top: 17px;
}
input[type="submit"].tribe-events-button.tribe-no-param{
	padding: .5em 0;
	width: 120px;
}
#tribe-bar-collapse-toggle{
	float: right;
	cursor: pointer;
	display: none;
}
.tribe-bar-views-select.tribe-no-param, .tribe-bar-views-list li:before, .tribe-events-sub-nav li:before{
	display: none;
}
.tribe-bar-views-list{
	display: inline;
}
.main ul.tribe-bar-views-list li{
	padding-left:22px;
	margin-right: .5em;
}
.tribe-bar-views-list li.tribe-bar-views-option-month:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f073";
	padding-right: 3px;
}
.tribe-bar-views-list li.tribe-bar-views-option-upcoming:before{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0cb";
}
.tribe-bar-views-list li{
	display: inline-block;
}


.canon-events .tribe-events-page-title {
	text-align: left;
	font-size: 250%;
}



/* Upcoming List */
#tribe-events-header{
	position: absolute;
	right: 0;
	top: 15px;
}
#tribe-events-footer{
	
}
#tribe-events-content.tribe-events-list{
	padding: 2px 0;
}
.main #tribe-events-content ul.tribe-events-sub-nav li, .main #tribe-events-content ul.tribe-events-sub-nav{
	padding: 0;
	margin: 0;
	text-align: right;
}
.tribe-events-list-separator-month{
	display: block; height: 1px; border: 0; border-top-style: solid; border-top-width: 1px; padding: 0; margin: 3em 0; text-align: left;
}
.tribe-events-list-separator-month span{
	position: relative;
	top: -12px;
	display: inline-block;
	padding-left: 0em;
	padding-right: .5em;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0;
	font-size: 18px;
}

.tribe-events-loop .hentry{
	border-style: solid;
	border-width: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
	position: relative;
}
.tribe-events-loop .vevent.tribe-events-last, .tribe-events-list .vevent.hentry.tribe-event-end-month{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.tribe-events-list .vevent.hentry.tribe-events-first{
	padding-top: 1em;
}
.tribe-events-list .vevent.hentry.tribe-event-end-month{
	padding-bottom: 1em;
}
.tribe-events-sub-nav li a{
	border: none;
	font-weight: normal;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	padding: .4em 1.2em;
	white-space: normal;
	text-align: center;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
	text-decoration: none;
	border-style: solid!important;
	border-width: 1px!important;
}
.tribe-events-event-cost span{
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	min-width: 38px;
	min-height: 38px;
	font-size: 13px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	right: -10px;
	top: -10px;
	padding-top: .6em;
}
.tribe-events-loop .hentry .time-details{
	font-size: 16px;
}
.tribe-events-loop .hentry .tribe-events-venue-details{
	font-size: 16px;
}
.tribe-events-loop .hentry .tribe-events-gmap{
	padding-left: 10px;
}
.tribe-events-loop .hentry .tribe-events-event-image {
	float: right;
	margin-left: 1.5em;
}
.tribe-events-loop .hentry .tribe-events-list-event-description {
	display: inline;
}
.tribe-events-loop .hentry .tribe-events-read-more{
	border: none;
	font-weight: normal;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	padding: .4em 1.2em;
	white-space: normal;
	text-align: center;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
	text-decoration: none;
}


/* Caledner */
.tribe-events-calendar .tribe-events-right .tribe-events-tooltip, .tribe-events-week .tribe-events-right .tribe-events-tooltip, .recurring-info-tooltip{
	padding: 1em;
	padding-top: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tribe-events-tooltip p.entry-summary, .tribe-events-tooltip .tribe-events-event-body{
	font-size: 14px;
}
.tribe-events-tooltip h4{
	text-transform: uppercase;
}
.tribe-events-tooltip .tribe-events-event-thumb{
	padding-right: 1em;
	padding-bottom: 0;
}
.events-archive.events-gridview #tribe-events-content table .vevent{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.events-archive.events-gridview #tribe-events-content table .tribe-events-last{
	border-bottom: none;
}



/* Notices */
.tribe-events-notices li:before{
	display: none;
}



/* Events Page */

.single-tribe_events .main #tribe-events-content ul.tribe-events-sub-nav li, .single-tribe_events .main #tribe-events-content ul.tribe-events-sub-nav{
	text-align: center;
	width: auto;
}
.single-tribe_events .main #tribe-events-footer ul.tribe-events-sub-nav, .single-tribe_events .main #tribe-events-footer .main #tribe-events-content ul.tribe-events-sub-nav li{
	text-align: right;
}
.single-tribe_events .tribe-events-sub-nav li a{
	white-space: nowrap;
}
.single-tribe_events .tribe-events-schedule .tribe-events-divider{
 	display: none;
 }
.single-tribe_events .tribe-events-schedule h3{
	margin: 0;
}
.single-tribe_events .tribe-events-schedule .tribe-events-cost{
	position: absolute;
	top: .75em;
	right: 0em;
	font-size: 26px;
	padding-left: 1em;
}
.single-tribe_events .tribe-events-schedule{
	padding: 1em 0;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1.5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}
.single-tribe_events .tribe-events-event-image{
	float: left;
	max-width: 50%;
	margin-right: 1em;
	margin-top: .5em;
	margin-bottom: 0;
}
.tribe-events-single-section.tribe-events-event-meta, .single-tribe_events #tribe-events-footer{
	border-top-style: solid;
	border-top-width: 1px;
} 
.single-tribe_events .tribe-events-meta-group, .single-tribe_events .tribe-events-venue-map{
	float: left;
	width: 49%;
	margin-right: 2%;
}
.single-tribe_events .tribe-events-venue-map{
	margin-top: 1.5em;
}
.single-tribe_events  .tribe-events-meta-group-organizer, .single-tribe_events .tribe-events-venue-map{
	margin-right: 0;
}
.single-tribe_events #tribe-events-footer{
	padding-top: 1em;
}
.tribe-events-single-section.tribe-events-event-meta {
	clear: both;
}



/* Event List Widget */
aside .tribe-events-list-widget ol{
	margin: 0;
}
aside .tribe-events-list-widget ol li:before{
	content: "s";
	font-family: 'bulletsregular';
	font-size: 14px;
	left: 0px;
	top: 0px;
	position: absolute;
	text-transform: lowercase;
}
aside .tribe-events-list-widget ol li{
	padding-left: 18px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 5px;
	padding-bottom: 10px;
}
aside .tribe-events-list-widget ol li h4{
	font-size: 16px;
	margin-top: 0;
}
.tribe-events-list-widget ol li .duration{
	font-size: 12px;
	text-transform: uppercase;
	line-height: 16px;
}
aside .tribe-events-list-widget .tribe-events-widget-link a{
	border: none;
	font-weight: normal;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	padding: .4em 1.2em;
	white-space: normal;
	text-align: center;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
	text-decoration: none;
}






