#buddypress{
	position: relative;
}
#buddypress .standard-form label, #buddypress .standard-form span.label{
	font-weight: normal;
}
#buddypress #item-nav .item-list-tabs ul{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#buddypress .item-list-tabs ul li:before, #buddypress #profile-edit-form ul.button-nav li:before, #buddypress #members-dir-list ul#members-list li:before,
#buddypress #activity-stream li:before, #buddypress ul.item-list li{
	display: none;
}
#buddypress  #item-nav div.item-list-tabs ul li, #buddypress #members-directory-form div.item-list-tabs ul li, #buddypress .item-list-tabs.activity-type-tabs ul li{
	float:none;
	position:relative;
	display:inline-block;
	text-align:center;
	margin-right: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
	padding: .5em 1em;
	text-transform: none;
}

#buddypress div.item-list-tabs ul li.selected, #buddypress div.item-list-tabs ul li.current, #buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a, #buddypress .item-list-tabs.activity-type-tabs ul li.selected{
	background: none;
}
#buddypress  #item-nav div.item-list-tabs ul li.selected, #buddypress  #item-nav div.item-list-tabs ul li.current, #buddypress .item-list-tabs.activity-type-tabs ul li.selected, #members-directory-form div.item-list-tabs ul li.selected{
	position: relative;
	top: 2px;
	padding-top: .6em;
}
#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a{
	font-weight: normal;
}
#buddypress div#subnav.item-list-tabs, #buddypress #members-directory-form div.item-list-tabs ul, #buddypress .item-list-tabs.activity-type-tabs ul{
	margin-top: 1em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 1em;
} 
#buddypress #members-directory-form div.item-list-tabs ul, #buddypress .item-list-tabs.activity-type-tabs ul{
	padding-bottom: 0;
}
#buddypress #members-directory-form #subnav.item-list-tabs ul{
	border: none;
}
#buddypress #subnav.item-list-tabs li{
	background: none;
	border-left-style: solid;
	border-left-width: 1px;
	padding: 0em 1em;
}
#buddypress #subnav.item-list-tabs li:first-child{
	border: none;
	padding-left: 0;
}
#buddypress .standard-form textarea, #buddypress .standard-form input[type="text"], #buddypress .standard-form input[type="text"], #buddypress .standard-form input[type="color"], #buddypress .standard-form input[type="date"], #buddypress .standard-form input[type="datetime"], #buddypress .standard-form input[type="datetime-local"], #buddypress .standard-form input[type="email"], #buddypress .standard-form input[type="month"], #buddypress .standard-form input[type="number"], #buddypress .standard-form input[type="range"], #buddypress .standard-form input[type="search"], #buddypress .standard-form input[type="tel"], #buddypress .standard-form input[type="time"], #buddypress .standard-form input[type="url"], #buddypress .standard-form input[type="week"], #buddypress .standard-form select, #buddypress .standard-form input[type="password"], #buddypress .dir-search input[type="search"], #buddypress .dir-search input[type="text"], #buddypress form#whats-new-form textarea, #buddypress div.activity-comments form textarea{
	border: none;
	padding: 14px 2%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	outline: none;
	margin-bottom: 1em;
	resize: none;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#buddypress button, #buddypress a.button, #buddypress input[type="submit"], #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress ul.button-nav li a, #buddypress div.generic-button a, #buddypress .comment-reply-link, a.bp-title-button, #buddypress #profile-edit-form ul.button-nav li:hover, #buddypress #profile-edit-form ul.button-nav li a, .bp-login-widget-user-logout a{
	border: none;
	font-weight: normal;
	font-size: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: .4em 1.8em;
	white-space: normal;
	text-align: center;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
	text-decoration: none;
}
#buddypress button:hover, #buddypress a.button:hover, #buddypress input[type="submit"]:hover, #buddypress input[type="button"]:hover, #buddypress input[type="reset"]:hover, #buddypress ul.button-nav li a:hover, #buddypress div.generic-button a:hover, #buddypress .comment-reply-link:hover, a.bp-title-button:hover{
	border: none;
}
#buddypress #profile-edit-form ul.button-nav li{
	padding: 0;
	margin: 0;
}
#buddypress #profile-edit-form ul.button-nav li, #buddypress #profile-edit-form ul.button-nav li:hover{
	padding: 0!important;
	margin: 0!important;
}
#buddypress #profile-edit-form ul.button-nav li a{
	font-weight: normal;
}
form#notifications-sort-order{
	margin-top: 0;
}
form#notifications-sort-order #notifications-sort-order-list{
	margin-bottom: 0;
}
#buddypress table tr td.label{
	font-weight: normal!important;
}
#bp-login-widget-form{
	padding: 0 1em 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 1em;
}
.widget.buddypress .bp-login-widget-user-links > div.bp-login-widget-user-link a{
	font-size: 18px;
}
.bp-login-widget-user-logout a{
	font-size: 14px;
	padding: .4em 1.2em;
}
#buddypress form{
	margin-top: 0;
}
#buddypress #search-members-form label{
	padding-right: 5px;
}
#buddypress div.dir-search{
	margin-top: -49px;
}
#buddypress #members_search_submit{
	font-size: 13px;
	padding: .4em 1.2em;
	float: right;
	margin-top: 0;
}
#buddypress #members_search, #buddypress .activity-meta a{
	font-size: 14px;
	padding: .4em 1.2em;
}
#buddypress form#whats-new-form textarea, #buddypress div.activity-comments form textarea{
	width: 100%;
	height: 140px;
	display: block;
	resize: none;
	outline: none;
}
#buddypress #whats-new-options {
    height: 80px !important;
    overflow: auto;
}
#buddypress ul.item-list{
	border: none;
}
#buddypress ul.item-list li div.item-title span{
	font-size: 100%;
}
#buddypress .activity-meta a.bp-primary-action span{
	background: none!important;
}
#buddypress div.activity-comments form .ac-textarea{
	background: none;
	border: none;
	padding: 0;
}
#buddypress div#item-header div#item-meta{
	font-size: 100%;
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 1.5em;
}
body.activity-permalink #buddypress div.activity-comments div.acomment-content, #buddypress div.activity-comments div.acomment-content{
	font-size: 100%;
}
#buddypress .activity-comments ul li, #buddypress div.activity-comments > ul > li:first-child{
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 1em;
	margin-top: 1em;
	padding-bottom: 1em;
}
#buddypress .acomment-options{
	margin-bottom: 1em;
}
#buddypress ul.item-list li div.action {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
#buddypress ul.item-list li{
	padding-bottom: 25px;
}