.clear
{
    clear: both;
}
.nobr
{
    white-space: nowrap;
}
@font-face
{
    font-family: 'star';
    src: url('../font/woo-shop-fonts/star.eot');
    src: url('../font/woo-shop-fonts/star.eot?#iefix') format('embedded-opentype'), url('../font/woo-shop-fonts/star.woff') format('woff'), url('../font/woo-shop-fonts/star.ttf') format('truetype'), url('../font/woo-shop-fonts/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}
.woocommerce-message:after,
.woocommerce-error:after,
.woocommerce-info:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before
{
   display: none;
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button
{
    float: right;
}
.woocommerce-message li,
.woocommerce-error li,
.woocommerce-info li
{
    list-style: none outside;
    padding-left: 0;
    margin-left: 0;
}

p.demo_store
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: .2em 0;
    text-align: center;
    background: #666;
    color: #ffffff;
    z-index: 99998;
    opacity: .75;
}
.admin-bar p.demo_store
{
    top: 28px;
}
.woocommerce small.note,
.woocommerce-page small.note
{
    display: block;
    color: #777777;
    font-size: 11px;
    line-height: 21px;
    margin-top: 10px;
}
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb
{
    margin: 0 0 1em;
    padding: 0;
    font-size: 0.92em;
    color: #777777;
}
.woocommerce .woocommerce-breadcrumb:after,
.woocommerce-page .woocommerce-breadcrumb:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a
{
    color: #777777;
}
.woocommerce .col2-set,
.woocommerce-page .col2-set
{
    width: 100%;
}
.woocommerce .col2-set:after,
.woocommerce-page .col2-set:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1
{
    float: left;
    width: 48%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2
{
    float: right;
    width: 48%;
}
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-page div.product,
.woocommerce-page #content div.product
{
    margin-bottom: 0;
    position: relative;
}
.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce-page div.product .product_title,
.woocommerce-page #content div.product .product_title
{
    clear: none;
    margin-top: 0;
    padding: 0;
}
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price
{
    color: #666666;
    font-size: 1.25em;
}
.woocommerce div.product span.price ins,
.woocommerce div.product p.price ins,
.woocommerce #content div.product span.price ins,
.woocommerce #content div.product p.price ins,
.woocommerce-page div.product span.price ins,
.woocommerce-page div.product p.price ins,
.woocommerce-page #content div.product span.price ins,
.woocommerce-page #content div.product p.price ins
{
    background: inherit;
}
.woocommerce div.product span.price del,
.woocommerce div.product p.price del,
.woocommerce #content div.product span.price del,
.woocommerce #content div.product p.price del,
.woocommerce-page div.product span.price del,
.woocommerce-page div.product p.price del,
.woocommerce-page #content div.product span.price del,
.woocommerce-page #content div.product p.price del
{
    font-size: 0.67em;
    color: rgba(145,145,145,0.5);
}
.woocommerce div.product p.stock,
.woocommerce #content div.product p.stock,
.woocommerce-page div.product p.stock,
.woocommerce-page #content div.product p.stock
{
    font-size: 0.92em;
}
.woocommerce div.product .stock,
.woocommerce #content div.product .stock,
.woocommerce-page div.product .stock,
.woocommerce-page #content div.product .stock
{
    color: #85ad74;
}
.woocommerce div.product .out-of-stock,
.woocommerce #content div.product .out-of-stock,
.woocommerce-page div.product .out-of-stock,
.woocommerce-page #content div.product .out-of-stock
{
    color: red;
}
.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images
{
    float: left;
    width: 48%;
    margin-bottom: 2em;
}
.woocommerce div.product div.images img,
.woocommerce #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce-page #content div.product div.images img
{
    display: block;
    width: 100%;
    height: auto;
}
.woocommerce div.product div.images div.thumbnails,
.woocommerce #content div.product div.images div.thumbnails,
.woocommerce-page div.product div.images div.thumbnails,
.woocommerce-page #content div.product div.images div.thumbnails
{
    padding-top: 1em;
}
.woocommerce div.product div.images div.thumbnails:after,
.woocommerce #content div.product div.images div.thumbnails:after,
.woocommerce-page div.product div.images div.thumbnails:after,
.woocommerce-page #content div.product div.images div.thumbnails:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce div.product div.images div.thumbnails a,
.woocommerce #content div.product div.images div.thumbnails a,
.woocommerce-page div.product div.images div.thumbnails a,
.woocommerce-page #content div.product div.images div.thumbnails a
{
    float: left;
    width: 30.75%;
    margin-right: 3.8%;
}
.woocommerce div.product div.images div.thumbnails a.last,
.woocommerce #content div.product div.images div.thumbnails a.last,
.woocommerce-page div.product div.images div.thumbnails a.last,
.woocommerce-page #content div.product div.images div.thumbnails a.last
{
    margin-right: 0;
}
.woocommerce div.product div.images div.thumbnails a.first,
.woocommerce #content div.product div.images div.thumbnails a.first,
.woocommerce-page div.product div.images div.thumbnails a.first,
.woocommerce-page #content div.product div.images div.thumbnails a.first
{
    clear: both;
}
.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary
{
    float: right;
    width: 48%;
    margin-bottom: 2em;
}
.woocommerce div.product div.social,
.woocommerce #content div.product div.social,
.woocommerce-page div.product div.social,
.woocommerce-page #content div.product div.social
{
    text-align: right;
    margin: 0 0 1em;
}
.woocommerce div.product div.social span,
.woocommerce #content div.product div.social span,
.woocommerce-page div.product div.social span,
.woocommerce-page #content div.product div.social span
{
    margin: 0 0 0 2px;
}
.woocommerce div.product div.social span span,
.woocommerce #content div.product div.social span span,
.woocommerce-page div.product div.social span span,
.woocommerce-page #content div.product div.social span span
{
    margin: 0;
}
.woocommerce div.product div.social span .stButton .chicklets,
.woocommerce #content div.product div.social span .stButton .chicklets,
.woocommerce-page div.product div.social span .stButton .chicklets,
.woocommerce-page #content div.product div.social span .stButton .chicklets
{
    padding-left: 16px;
    width: 0;
}
.woocommerce div.product div.social iframe,
.woocommerce #content div.product div.social iframe,
.woocommerce-page div.product div.social iframe,
.woocommerce-page #content div.product div.social iframe
{
    float: left;
    margin-top: 3px;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs
{
    clear: both;
}
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs
{
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0 0 1.618em;
    overflow: hidden;
    position: relative;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li
{
    border-style: solid;
    border-width: 1px;
    background: #f7f6f7;
    display: inline-block;
    position: relative;
    z-index: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	padding: 0 1em;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a
{
    display: inline-block;
    padding: .5em 0;
    color: #5e5e5e;
    text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover
{
    text-decoration: none;
    color: #777777;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active
{
    z-index: 2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a
{
    color: inherit;
    text-shadow: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before
{
 	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after
{
   display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after
{
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before
{
    left: -6px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #dfdbdf;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after
{
    right: -6px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #dfdbdf;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before
{
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    z-index: 1;
}
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel
{
    margin: 0 0 2em;
    padding: 0;
}
.woocommerce div.product p.cart,
.woocommerce #content div.product p.cart,
.woocommerce-page div.product p.cart,
.woocommerce-page #content div.product p.cart
{
    margin-bottom: 2em;
}
.woocommerce div.product p.cart:after,
.woocommerce #content div.product p.cart:after,
.woocommerce-page div.product p.cart:after,
.woocommerce-page #content div.product p.cart:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce div.product form.cart,
.woocommerce #content div.product form.cart,
.woocommerce-page div.product form.cart,
.woocommerce-page #content div.product form.cart
{
    margin-bottom: 2em;
}
.woocommerce div.product form.cart:after,
.woocommerce #content div.product form.cart:after,
.woocommerce-page div.product form.cart:after,
.woocommerce-page #content div.product form.cart:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce div.product form.cart div.quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity
{
    float: left;
    margin: 0 4px 0 0;
}
.woocommerce div.product form.cart table,
.woocommerce #content div.product form.cart table,
.woocommerce-page div.product form.cart table,
.woocommerce-page #content div.product form.cart table
{
    border-width: 0 0 1px 0;
}
.woocommerce div.product form.cart table td,
.woocommerce #content div.product form.cart table td,
.woocommerce-page div.product form.cart table td,
.woocommerce-page #content div.product form.cart table td
{
    padding-left: 0;
}
.woocommerce div.product form.cart table div.quantity,
.woocommerce #content div.product form.cart table div.quantity,
.woocommerce-page div.product form.cart table div.quantity,
.woocommerce-page #content div.product form.cart table div.quantity
{
    float: none;
    margin: 0;
}
.woocommerce div.product form.cart table small.stock,
.woocommerce #content div.product form.cart table small.stock,
.woocommerce-page div.product form.cart table small.stock,
.woocommerce-page #content div.product form.cart table small.stock
{
    display: block;
    float: none;
}
.woocommerce div.product form.cart .variations,
.woocommerce #content div.product form.cart .variations,
.woocommerce-page div.product form.cart .variations,
.woocommerce-page #content div.product form.cart .variations
{
    margin-bottom: 1em;
}
.woocommerce div.product form.cart .variations label,
.woocommerce #content div.product form.cart .variations label,
.woocommerce-page div.product form.cart .variations label,
.woocommerce-page #content div.product form.cart .variations label
{
    font-weight: bold;
}
.woocommerce div.product form.cart .variations select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select
{
    width: 100%;
    float: left;
}
.woocommerce div.product form.cart .variations td.label,
.woocommerce #content div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label
{
    padding-right: 1em;
}
.woocommerce div.product form.cart .variations td,
.woocommerce #content div.product form.cart .variations td,
.woocommerce-page div.product form.cart .variations td,
.woocommerce-page #content div.product form.cart .variations td
{
    vertical-align: top;
}
.woocommerce div.product form.cart .button,
.woocommerce #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button
{
    vertical-align: middle;
    float: left;
}
.woocommerce div.product form.cart .group_table td.label,
.woocommerce #content div.product form.cart .group_table td.label,
.woocommerce-page div.product form.cart .group_table td.label,
.woocommerce-page #content div.product form.cart .group_table td.label
{
    padding-right: 1em;
    padding-left: 1em;
}
.woocommerce div.product form.cart .group_table td,
.woocommerce #content div.product form.cart .group_table td,
.woocommerce-page div.product form.cart .group_table td,
.woocommerce-page #content div.product form.cart .group_table td
{
    vertical-align: top;
}
.woocommerce span.onsale,
.woocommerce-page span.onsale
{
    min-height: 32px;
    min-width: 32px;
    padding: 4px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 32px;
    top: 6px;
    left: -6px;
    margin: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #666;
    color: #ffffff;
    z-index: 9;
}
.woocommerce .products ul,
.woocommerce ul.products,
.woocommerce-page .products ul,
.woocommerce-page ul.products
{
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
}
.woocommerce .products ul:after,
.woocommerce ul.products:after,
.woocommerce-page .products ul:after,
.woocommerce-page ul.products:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .products ul li,
.woocommerce ul.products li,
.woocommerce-page .products ul li,
.woocommerce-page ul.products li
{
    list-style: none outside;
}
.woocommerce .related:after,
.woocommerce .upsells.products:after,
.woocommerce-page .related:after,
.woocommerce-page .upsells.products:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .related ul.products,
.woocommerce .related ul,
.woocommerce .upsells.products ul.products,
.woocommerce .upsells.products ul,
.woocommerce-page .related ul.products,
.woocommerce-page .related ul,
.woocommerce-page .upsells.products ul.products,
.woocommerce-page .upsells.products ul
{
    float: none;
}
.woocommerce .related ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .upsells.products ul.products li.product,
.woocommerce-page .upsells.products ul li.product
{
    width: 48%;
}
.woocommerce .related ul.products li.product img,
.woocommerce .related ul li.product img,
.woocommerce .upsells.products ul.products li.product img,
.woocommerce .upsells.products ul li.product img,
.woocommerce-page .related ul.products li.product img,
.woocommerce-page .related ul li.product img,
.woocommerce-page .upsells.products ul.products li.product img,
.woocommerce-page .upsells.products ul li.product img
{
    width: 100%;
    height: auto;
}
.woocommerce ul.products li.product, .woocommerce ul.products li.product.last
.woocommerce-page ul.products li.product
{
    float: left;
    margin: 0 5% 3.5em 0;
    padding: 0;
    position: relative;
    width: 30%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .6em!important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.woocommerce ul.products li:before, .woocommerce-page ul.products li:before{
	display: none;
}
.woocommerce ul.products li.product.last{
	 margin: 0 5% 3.5em 0!important;
}
.woocommerce ul.products li.product:nth-child(3n+3),
.woocommerce-page ul.products li.product:nth-child(3n+3){
	margin-right: 0;
}
.woocommerce ul.products li.product:nth-child(3n+4){
	clear: left;
}
.woocommerce ul.products li.product.last:last-child {
    margin: 0 !important;
}
.woocommerce .upsells ul.products li.product:nth-child(4n+4){
	clear: none;
}
.woocommerce .upsells ul.products li.product:nth-child(3){
	clear: left;
	 margin: 0 5% 3.5em 0!important;
}
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale
{
    top: 0;
    right: 0;
    left: auto;
    margin: -6px -6px 0 0;
}
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3
{
    padding: .5em 0;
    margin: 0;
    font-size: 1.1em;
}
.woocommerce ul.products li.product a,
.woocommerce-page ul.products li.product a
{
    text-decoration: none;
}
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img
{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 8px;
}
.woocommerce ul.products li.product strong,
.woocommerce-page ul.products li.product strong
{
    display: block;
}
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price
{
    color: #333;
    display: block;
    font-weight: normal;
    margin-bottom: .5em;
}
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del
{
    font-size: 0.67em;
	margin: -2px 0 0;
	padding-right: .2em;
}
.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins
{
    background: none;
}
.woocommerce ul.products li.product .price .from,
.woocommerce-page ul.products li.product .price .from
{
    font-size: 0.67em;
    margin: -2px 0 0 0;
    text-transform: uppercase;
    color: rgba(145,145,145,0.5);
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count
{
    float: left;
    margin: 0 0 1em;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering
{
    margin: 0 0 1em;
    float: right;
}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select
{
    vertical-align: top;
}
.woocommerce nav.woocommerce-pagination,
.woocommerce #content nav.woocommerce-pagination,
.woocommerce-page nav.woocommerce-pagination,
.woocommerce-page #content nav.woocommerce-pagination
{
    text-align: center;
}
.woocommerce nav.woocommerce-pagination ul,
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul
{
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid #dfdbdf;
    border-right: 0;
    margin: 1px;
}
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li
{
    border-right: 1px solid #dfdbdf;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span
{
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: .5em;
    min-width: 1em;
    display: block;
}
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus
{
    background: #f7f6f7;
    color: #978a97;
}
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button
{
    border: none;
    font-weight: normal;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: .4em 1.8em;
    white-space: nowrap;
    display: inline-block;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    margin-bottom: .5em;
    margin-top: .5em;
    color: #fff;
    background: #666;
}
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading,
.woocommerce #respond input#submit.loading,
.woocommerce #content input.button.loading,
.woocommerce-page a.button.loading,
.woocommerce-page button.button.loading,
.woocommerce-page input.button.loading,
.woocommerce-page #respond input#submit.loading,
.woocommerce-page #content input.button.loading
{
    color: #777777;
    border: 1px solid #f7f6f7;
}
.woocommerce a.button.loading:before,
.woocommerce button.button.loading:before,
.woocommerce input.button.loading:before,
.woocommerce #respond input#submit.loading:before,
.woocommerce #content input.button.loading:before,
.woocommerce-page a.button.loading:before,
.woocommerce-page button.button.loading:before,
.woocommerce-page input.button.loading:before,
.woocommerce-page #respond input#submit.loading:before,
.woocommerce-page #content input.button.loading:before
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(./img/woocommerce/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65);
}
.woocommerce a.button.added:before,
.woocommerce button.button.added:before,
.woocommerce input.button.added:before,
.woocommerce #respond input#submit.added:before,
.woocommerce #content input.button.added:before,
.woocommerce-page a.button.added:before,
.woocommerce-page button.button.added:before,
.woocommerce-page input.button.added:before,
.woocommerce-page #respond input#submit.added:before,
.woocommerce-page #content input.button.added:before
{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0.35em;
    right: -26px;
    text-indent: 0;
    background: url(./img/woocommerce/success.png) no-repeat;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover
{
	color: #fff;
    background: #ff6666;
    text-decoration: none;
}
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce #content input.button:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page #content input.button:active
{
    top: 1px;
}
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt
{
    background: #666;
    color: #ffffff;
}
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover
{
    color: #ffffff;
}
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce-page .cart .button,
.woocommerce-page .cart input.button
{
    float: none;
}
.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart
{
    padding-top: .9em;
    white-space: nowrap;
    display: inline-block;
    float: right;
    font-size: .8em;
}
.woocommerce .quantity,
.woocommerce #content .quantity,
.woocommerce-page .quantity,
.woocommerce-page #content .quantity
{
    width: 60px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}
.woocommerce .quantity input::-webkit-outer-spin-button,
.woocommerce .quantity input::-webkit-inner-spin-button,
.woocommerce #content .quantity input::-webkit-outer-spin-button,
.woocommerce #content .quantity input::-webkit-inner-spin-button,
.woocommerce-page .quantity input::-webkit-outer-spin-button,
.woocommerce-page .quantity input::-webkit-inner-spin-button,
.woocommerce-page #content .quantity input::-webkit-outer-spin-button,
.woocommerce-page #content .quantity input::-webkit-inner-spin-button
{
    display: none;
}
.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty
{
    width: 40px;
    height: 28px;
    float: left;
    padding: 0;
    text-align: center;
    border: 1px solid #c7c0c7;
    border-right: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: inset 0 0 2px 0 #f7f6f7;
    -webkit-box-shadow: inset 0 0 2px 0 #f7f6f7;
    -moz-box-shadow: inset 0 0 2px 0 #f7f6f7;
    font-weight: bold;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.woocommerce .quantity noindex:-o-prefocus,
.woocommerce .quantity input[type=number],
.woocommerce #content .quantity noindex:-o-prefocus,
.woocommerce #content .quantity input[type=number],
.woocommerce-page .quantity noindex:-o-prefocus,
.woocommerce-page .quantity input[type=number],
.woocommerce-page #content .quantity noindex:-o-prefocus,
.woocommerce-page #content .quantity input[type=number]
{
    padding-right: 1.2em;
}
.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page #content .quantity .minus
{
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    vertical-align: text-top;
    width: 20px;
    height: 15px;
    text-decoration: none;
    overflow: visible;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    line-height: 13px;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #5e5e5e;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    border: 1px solid #c7c0c7;
    background: #f7f6f7;
    background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f7),to(#dfdbdf));
    background: -webkit-linear-gradient(#f7f6f7,#dfdbdf);
    background: -moz-linear-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
    background: -moz-gradient(center top,#f7f6f7 0%,#dfdbdf 100%);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.075), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.075), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.075), inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.1);
}
.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce #content .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover
{
    background: #f7f6f7;
    background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f7),to(#d3ced3));
    background: -webkit-linear-gradient(#f7f6f7,#d3ced3);
    background: -moz-linear-gradient(center top,#f7f6f7 0%,#d3ced3 100%);
    background: -moz-gradient(center top,#f7f6f7 0%,#d3ced3 100%);
}
.woocommerce .quantity .plus,
.woocommerce #content .quantity .plus,
.woocommerce-page .quantity .plus,
.woocommerce-page #content .quantity .plus
{
    top: 0;
    right: 0;
    border-bottom: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.woocommerce .quantity .minus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .minus
{
    bottom: 0;
    right: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.woocommerce #reviews h2 small,
.woocommerce-page #reviews h2 small
{
    float: right;
    color: #777777;
    font-size: 15px;
    line-height: 21px;
    margin: 10px 0 0 0;
}
.woocommerce #reviews h2 small a,
.woocommerce-page #reviews h2 small a
{
    text-decoration: none;
    color: #777777;
}
.woocommerce #reviews h3,
.woocommerce-page #reviews h3
{
    margin: 0;
}
.woocommerce #reviews #respond,
.woocommerce-page #reviews #respond
{
    margin: 0;
    border: 0;
    padding: 0;
}
.woocommerce #reviews #comment,
.woocommerce-page #reviews #comment
{
    height: 75px;
}
.woocommerce #reviews #comments .add_review:after,
.woocommerce-page #reviews #comments .add_review:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce #reviews #comments h2,
.woocommerce-page #reviews #comments h2
{
    clear: none;
}
.woocommerce #reviews #comments ol.commentlist,
.woocommerce-page #reviews #comments ol.commentlist
{
    margin: 0;
    width: 100%;
    background: none;
    list-style: none;
}
.woocommerce #reviews #comments ol.commentlist:after,
.woocommerce-page #reviews #comments ol.commentlist:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce #reviews #comments ol.commentlist li,
.woocommerce-page #reviews #comments ol.commentlist li
{
    padding: 00;
    margin: 0 0 20px;
    border: 0;
    position: relative;
    background: 0;
    border: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta,
.woocommerce-page #reviews #comments ol.commentlist li .meta
{
    font-size: 0.75em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar,
.woocommerce-page #reviews #comments ol.commentlist li img.avatar
{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    width: 32px;
    height: auto;
    border-style: solid;
    border-width: 1px;
    margin: 0;
    line-height: 1;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text
{
    margin: 0 0 0 50px;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1em 1em 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p
{
    margin: 0 0 1em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta
{
    font-size: 0.83em;
}
.woocommerce #reviews #comments .commentlist > li:before,
.woocommerce-page #reviews #comments .commentlist > li:before
{
    content: "";
}
.woocommerce .star-rating,
.woocommerce-page .star-rating
{
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    width: 5.4em;
    font-family: 'star';
}
.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before
{
    content: "\73\73\73\73\73";
    color: #dfdbdf;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.woocommerce .star-rating span,
.woocommerce-page .star-rating span
{
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
.woocommerce .star-rating span:before,
.woocommerce-page .star-rating span:before
{
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
}
.woocommerce .products .star-rating,
.woocommerce-page .products .star-rating
{
    display: block;
    margin: 0 0 .5em;
    float: none;
}
.woocommerce .hreview-aggregate .star-rating,
.woocommerce-page .hreview-aggregate .star-rating
{
    margin: 10px 0 0 0;
}
.woocommerce #review_form #respond,
.woocommerce-page #review_form #respond
{
    position: static;
    margin: 0;
    width: auto;
    padding: 0 0 0;
    background: transparent none;
    border: 0;
}
.woocommerce #review_form #respond:after,
.woocommerce-page #review_form #respond:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce #review_form #respond p,
.woocommerce-page #review_form #respond p
{
    margin: 0 0 10px;
}
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input
{
    left: auto;
}
.woocommerce #review_form #respond textarea,
.woocommerce-page #review_form #respond textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.woocommerce p.stars:after,
.woocommerce-page p.stars:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce p.stars span,
.woocommerce-page p.stars span
{
    width: 80px;
    height: 16px;
    position: relative;
    float: left;
    background: url(../img/woocommerce/star.png) repeat-x left 0;
}
.woocommerce p.stars span a,
.woocommerce-page p.stars span a
{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 0;
    padding-top: 16px;
    overflow: hidden;
}
.woocommerce p.stars span a:hover,
.woocommerce p.stars span a:focus,
.woocommerce-page p.stars span a:hover,
.woocommerce-page p.stars span a:focus
{
    background: url(../img/woocommerce/star.png) repeat-x left -16px;
}
.woocommerce p.stars span a.active,
.woocommerce-page p.stars span a.active
{
    background: url(../img/woocommerce/star.png) repeat-x left -32px;
}
.woocommerce p.stars span a.star-1,
.woocommerce-page p.stars span a.star-1
{
    width: 16px;
    z-index: 10;
}
.woocommerce p.stars span a.star-2,
.woocommerce-page p.stars span a.star-2
{
    width: 32px;
    z-index: 9;
}
.woocommerce p.stars span a.star-3,
.woocommerce-page p.stars span a.star-3
{
    width: 48px;
    z-index: 8;
}
.woocommerce p.stars span a.star-4,
.woocommerce-page p.stars span a.star-4
{
    width: 64px;
    z-index: 7;
}
.woocommerce p.stars span a.star-5,
.woocommerce-page p.stars span a.star-5
{
    width: 80px;
    z-index: 6;
}
.woocommerce table.shop_attributes,
.woocommerce-page table.shop_attributes
{
    border: 0;
    border-top: 1px dotted rgba(0,0,0,0.1);
    margin-bottom: 1.618em;
    width: 100%;
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th
{
    width: 150px;
    font-weight: bold;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    margin: 0;
    line-height: 1.5em;
}
.woocommerce table.shop_attributes td,
.woocommerce-page table.shop_attributes td
{
    font-style: italic;
    padding: 0;
    border-top: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    margin: 0;
    line-height: 1.5em;
}
.woocommerce table.shop_attributes td p,
.woocommerce-page table.shop_attributes td p
{
    margin: 0;
    padding: 8px 0;
}
.woocommerce table.shop_attributes .alt td,
.woocommerce table.shop_attributes .alt th,
.woocommerce-page table.shop_attributes .alt td,
.woocommerce-page table.shop_attributes .alt th
{
    background: rgba(0,0,0,0.025);
}
.woocommerce table.shop_table,
.woocommerce-page table.shop_table
{
    margin: 0px -1px 24px 0px;
    text-align: left;
    width: 100%;
}
.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th
{

}
.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td
{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 6px 12px;
    vertical-align: middle;
}
.woocommerce table.shop_table td small,
.woocommerce-page table.shop_table td small
{
    font-weight: normal;
}
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot th
{
    font-weight: bold;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.woocommerce table.my_account_orders,
.woocommerce-page table.my_account_orders
{
    font-size: 0.85em;
}
.woocommerce table.my_account_orders th,
.woocommerce table.my_account_orders td,
.woocommerce-page table.my_account_orders th,
.woocommerce-page table.my_account_orders td
{
    padding: 4px 8px;
    vertical-align: middle;
}
.woocommerce table.my_account_orders .button,
.woocommerce-page table.my_account_orders .button
{
    white-space: nowrap;
}
.woocommerce table.my_account_orders .order-actions,
.woocommerce-page table.my_account_orders .order-actions
{
    text-align: right;
}
.woocommerce table.my_account_orders .order-actions .button,
.woocommerce-page table.my_account_orders .order-actions .button
{
    margin: .125em 0 .125em .25em;
}
.woocommerce td.product-name dl.variation,
.woocommerce-page td.product-name dl.variation
{
    margin: .25em 0 .5em;
    font-size: 0.8751em;
}
.woocommerce td.product-name dl.variation dt,
.woocommerce-page td.product-name dl.variation dt
{
    font-weight: bold;
    float: left;
    clear: left;
    margin: 0 .25em 0 0;
    padding: 0;
}
.woocommerce td.product-name dl.variation dd,
.woocommerce-page td.product-name dl.variation dd
{
    margin: 0 0 .25em 0;
}
.woocommerce td.product-name p.backorder_notification,
.woocommerce-page td.product-name p.backorder_notification
{
    font-size: 0.83em;
}
.woocommerce td.product-quantity,
.woocommerce-page td.product-quantity
{
    min-width: 80px;
}
.woocommerce table.cart .product-thumbnail,
.woocommerce #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail
{
    min-width: 32px;
}
.woocommerce table.cart img,
.woocommerce #content table.cart img,
.woocommerce-page table.cart img,
.woocommerce-page #content table.cart img
{
    width: 32px;
    height: auto;
}
.woocommerce table.cart th,
.woocommerce table.cart td,
.woocommerce #content table.cart th,
.woocommerce #content table.cart td,
.woocommerce-page table.cart th,
.woocommerce-page table.cart td,
.woocommerce-page #content table.cart th,
.woocommerce-page #content table.cart td
{
    vertical-align: middle;
}
.woocommerce table.cart a.remove,
.woocommerce #content table.cart a.remove,
.woocommerce-page table.cart a.remove,
.woocommerce-page #content table.cart a.remove
{
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: red;
    text-decoration: none;
    font-weight: normal;
}
.woocommerce table.cart a.remove:hover,
.woocommerce #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover
{
    color: #333;
}
.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions
{
    text-align: right;
}
.woocommerce table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon
{
    float: left;
}
.woocommerce table.cart td.actions .coupon label,
.woocommerce #content table.cart td.actions .coupon label,
.woocommerce-page table.cart td.actions .coupon label,
.woocommerce-page #content table.cart td.actions .coupon label
{
    display: none;
}
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text
{
    width: 150px;
    float: left;
    padding: 7px 6px 6px;
    margin: 0 4px 0 0;
    outline: 0;
    line-height: 1em;
}
.woocommerce table.cart td.actions .button.alt,
.woocommerce #content table.cart td.actions .button.alt,
.woocommerce-page table.cart td.actions .button.alt,
.woocommerce-page #content table.cart td.actions .button.alt
{
    float: right;
    margin-left: .25em;
}
.woocommerce table.cart input,
.woocommerce #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce-page #content table.cart input
{
    
    vertical-align: middle;
    line-height: 1em;
}
.quantity.buttons_added input{
	margin: 0;
}
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget,
.woocommerce-page ul.cart_list,
.woocommerce-page ul.product_list_widget
{
    list-style: none outside;
    padding: 0;
    margin: 0;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li,
.woocommerce-page ul.cart_list li,
.woocommerce-page ul.product_list_widget li
{
    padding: 4px 0;
    margin: 0;
    list-style: none;
}
.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after,
.woocommerce-page ul.cart_list li:after,
.woocommerce-page ul.product_list_widget li:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a,
.woocommerce-page ul.cart_list li a,
.woocommerce-page ul.product_list_widget li a
{
    display: block;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img
{
    float: right;
    margin-left: 4px;
    width: 32px;
    height: auto;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl,
.woocommerce-page ul.cart_list li dl,
.woocommerce-page ul.product_list_widget li dl
{
    margin: 0;
    font-size: 0.8751em;
    padding-left: 1em;
    border-left: 2px solid rgba(0,0,0,0.1);
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce-page ul.cart_list li dl dt,
.woocommerce-page ul.product_list_widget li dl dt
{
    float: left;
    clear: left;
    margin-right: .25em;
}
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce-page ul.cart_list li dl dd,
.woocommerce-page ul.product_list_widget li dl dd
{
    margin-bottom: .5em;
}
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating,
.woocommerce-page ul.cart_list li .star-rating,
.woocommerce-page ul.product_list_widget li .star-rating
{
    float: none;
}
.woocommerce .widget_shopping_cart .total,
.woocommerce-page .widget_shopping_cart .total
{
    border-top-width: 3px;
    border-top-style: double;
    padding: 4px 0 0;
}
.woocommerce .widget_shopping_cart .total strong,
.woocommerce-page .widget_shopping_cart .total strong
{
    min-width: 40px;
    display: inline-block;
}
.woocommerce .widget_shopping_cart .buttons:after,
.woocommerce-page .widget_shopping_cart .buttons:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals
{
    width: 100%;
}
.woocommerce .cart-collaterals:after,
.woocommerce-page .cart-collaterals:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related
{
    width: 30.75%;
    float: left;
}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells
{
    width: 48%;
    float: left;
}
.woocommerce .cart-collaterals .cross-sells ul.products,
.woocommerce-page .cart-collaterals .cross-sells ul.products
{
    float: none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li
{
    width: 48%;
}
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator
{
    width: 48%;
    text-align: right;
    margin: 20px 0 0 0;
    clear: right;
    float: right;
}
.woocommerce .cart-collaterals .shipping_calculator:after,
.woocommerce-page .cart-collaterals .shipping_calculator:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button
{
    width: 100%;
    float: none;
    display: block;
}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2
{
    width: 47%;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals
{
    float: right;
    width: 48%;
    text-align: right;
}
.woocommerce .cart-collaterals .cart_totals p,
.woocommerce-page .cart-collaterals .cart_totals p
{
    margin: 0;
}
.woocommerce .cart-collaterals .cart_totals p small,
.woocommerce-page .cart-collaterals .cart_totals p small
{
    color: #777777;
    font-size: 0.83em;
}
.woocommerce .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce .cart-collaterals .cart_totals table tr:first-child td,
.woocommerce-page .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce-page .cart-collaterals .cart_totals table tr:first-child td
{
    border-top: 0;
}
.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table th
{
    padding: 6px 3px;
}
.woocommerce .cart-collaterals .cart_totals table small,
.woocommerce-page .cart-collaterals .cart_totals table small
{
    display: block;
    color: #777777;
}
.woocommerce .cart-collaterals .cart_totals table select,
.woocommerce-page .cart-collaterals .cart_totals table select
{
    width: 100%;
}
.woocommerce .cart-collaterals .cart_totals .discount td,
.woocommerce-page .cart-collaterals .cart_totals .discount td
{
    color: #85ad74;
}
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th
{
    border-top: 1px solid #f7f6f7;
    padding: 6px 6px;
}
.woocommerce .cart-collaterals .cart_totals a.button.alt,
.woocommerce-page .cart-collaterals .cart_totals a.button.alt
{
    width: 193px;
    display: block;
    font-size: 0.92em;
}
.woocommerce form .form-row,
.woocommerce-page form .form-row
{
    padding: 3px;
    margin: 0 0 6px;
}
.woocommerce form .form-row:after,
.woocommerce-page form .form-row:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder,
.woocommerce-page form .form-row [placeholder]:focus::-webkit-input-placeholder
{
    -webkit-transition: opacity 0.5s 0.5s ease;
    -moz-transition: opacity 0.5s 0.5s ease;
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
}
.woocommerce form .form-row label,
.woocommerce-page form .form-row label
{
    display: block;
}
.woocommerce form .form-row label.hidden,
.woocommerce-page form .form-row label.hidden
{
    visibility: hidden;
}
.woocommerce form .form-row select,
.woocommerce-page form .form-row select
{
    width: 100%;
    cursor: pointer;
    margin: 0;
}
.woocommerce form .form-row .required,
.woocommerce-page form .form-row .required
{
    color: red;
    border: 0;
}
.woocommerce form .form-row .input-checkbox,
.woocommerce-page form .form-row .input-checkbox
{
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
}
.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox
{
    display: inline;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row input.input-text,
.woocommerce-page form .form-row textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1em;
}
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row textarea
{
    height: 3.5em;
    line-height: 1.5em;
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text,
.woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text
{
    background-image: url(./img/woocommerce/icons/valid.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text
{
    background-image: url(./img/woocommerce/icons/invalid.png);
    background-position: 95% center;
    background-repeat: no-repeat;
}
.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-single,
.woocommerce form .form-row.validate-required.woocommerce-invalid .chzn-drop,
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce form .form-row.validate-required.woocommerce-invalid select,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chzn-single,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid .chzn-drop,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid select
{
    border-color: #fb7f88;
}
.woocommerce form .form-row ::-webkit-input-placeholder,
.woocommerce-page form .form-row ::-webkit-input-placeholder
{
    line-height: 1em;
    padding-top: 2px;
}
.woocommerce form .form-row :-moz-placeholder,
.woocommerce-page form .form-row :-moz-placeholder
{
    line-height: 1em;
    padding-top: 2px;
}
.woocommerce form .form-row :-ms-input-placeholder,
.woocommerce-page form .form-row :-ms-input-placeholder
{
    line-height: 1em;
    padding-top: 2px;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last
{
    float: left;
    width: 47%;
    overflow: visible;
}
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last
{
    float: right;
}
.woocommerce form .form-row-wide,
.woocommerce-page form .form-row-wide
{
    clear: both;
}
.woocommerce form.login,
.woocommerce form.checkout_coupon,
.woocommerce form.register,
.woocommerce-page form.login,
.woocommerce-page form.checkout_coupon,
.woocommerce-page form.register
{
    border: 1px solid #dfdbdf;
    padding: 20px;
    margin: 2em 0 2em 0px;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.woocommerce ul#shipping_method,
.woocommerce-page ul#shipping_method
{
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.woocommerce ul#shipping_method li,
.woocommerce-page ul#shipping_method li
{
    margin: 0;
    padding: .25em 0 .25em 22px;
    text-indent: -22px;
    list-style: none outside;
}
.woocommerce ul#shipping_method .amount,
.woocommerce-page ul#shipping_method .amount
{
    font-weight: bold;
}
.woocommerce .checkout .col-2 h3,
.woocommerce-page .checkout .col-2 h3
{
    float: left;
    clear: none;
}
.woocommerce .checkout .col-2 .notes,
.woocommerce-page .checkout .col-2 .notes
{
    clear: left;
}
.woocommerce .checkout .col-2 .form-row-first,
.woocommerce-page .checkout .col-2 .form-row-first
{
    clear: left;
}
.woocommerce .checkout div.shipping-address,
.woocommerce-page .checkout div.shipping-address
{
    padding: 0;
    clear: left;
    width: 100%;
}
.woocommerce .checkout #shiptobilling,
.woocommerce-page .checkout #shiptobilling
{
    float: right;
    line-height: 1.62em;
    margin: 0 0 0 0;
    padding: 0;
}
.woocommerce .checkout #shiptobilling label,
.woocommerce-page .checkout #shiptobilling label
{
    font-size: 0.6875em;
}
.woocommerce .checkout .shipping_address,
.woocommerce-page .checkout .shipping_address
{
    clear: both;
}
.woocommerce #payment,
.woocommerce-page #payment
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.woocommerce #payment ul.payment_methods,
.woocommerce-page #payment ul.payment_methods
{
    text-align: left;
    padding: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 0;
    list-style: none outside;
}
.woocommerce #payment ul.payment_methods:after,
.woocommerce-page #payment ul.payment_methods:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce #payment ul.payment_methods li,
.woocommerce-page #payment ul.payment_methods li
{
    line-height: 2em;
    text-align: left;
    margin: 0;
    font-weight: normal;
}
.woocommerce #payment ul.payment_methods li input,
.woocommerce-page #payment ul.payment_methods li input
{
    margin: 0 1em 0 0;
}
.woocommerce #payment ul.payment_methods li img,
.woocommerce-page #payment ul.payment_methods li img
{
    vertical-align: middle;
    margin: -2px 0 0 .5em;
    position: relative;
}
.woocommerce #payment div.form-row,
.woocommerce-page #payment div.form-row
{
    padding: 1em;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order
{
    float: right;
    margin: 0;
}
.woocommerce #payment .terms,
.woocommerce-page #payment .terms
{
    padding: 0 1em 0;
    text-align: right;
}
.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box
{
    position: relative;
    width: 96%;
    padding: 1em 2%;
    margin: 1em 0 1em 0;
    font-size: 0.92em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.5em;
   	border-style: solid;
   	border-width: 1px;
}

.woocommerce #payment div.payment_box #cc-expire-month,
.woocommerce #payment div.payment_box #cc-expire-year,
.woocommerce-page #payment div.payment_box #cc-expire-month,
.woocommerce-page #payment div.payment_box #cc-expire-year
{
    width: 48%;
    float: left;
}
.woocommerce #payment div.payment_box #cc-expire-year,
.woocommerce-page #payment div.payment_box #cc-expire-year
{
    float: right;
}
.woocommerce #payment div.payment_box span.help,
.woocommerce-page #payment div.payment_box span.help
{
    font-size: 11px;
    color: #777777;
    line-height: 13px;
    font-weight: normal;
}
.woocommerce #payment div.payment_box .form-row,
.woocommerce-page #payment div.payment_box .form-row
{
    margin: 0 0 1em;
}
.woocommerce #payment div.payment_box .form-row select,
.woocommerce-page #payment div.payment_box .form-row select
{
    width: 48%;
    float: left;
    margin-right: 3.8%;
}
.woocommerce #payment div.payment_box .form-row select:nth-child(3n),
.woocommerce-page #payment div.payment_box .form-row select:nth-child(3n)
{
    margin-right: 0;
}
.woocommerce #payment div.payment_box:after,
.woocommerce-page #payment div.payment_box:after
{
    content: "";
    display: none;
    border: 7px solid #fff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: 1px;
    left: 0;
    margin: -1em 0 0 2em;
}
.woocommerce .order_details,
.woocommerce-page .order_details
{
    margin: 0 0 1.5em;
    list-style: none;
}
.woocommerce .order_details:after,
.woocommerce-page .order_details:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .order_details li,
.woocommerce-page .order_details li
{
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: 0.715em;
    line-height: 1em;
    border-right: 1px dashed #dfdbdf;
    padding-right: 2em;
}
.woocommerce .order_details li strong,
.woocommerce-page .order_details li strong
{
    display: block;
    font-size: 1.4em;
    text-transform: none;
    line-height: 1.5em;
}
.woocommerce .order_details li:last-of-type,
.woocommerce-page .order_details li:last-of-type
{
    border: none;
}
.woocommerce .addresses .title:after,
.woocommerce-page .addresses .title:after
{
    content: "";
    display: block;
    clear: both;
}
.woocommerce .addresses .title h3,
.woocommerce-page .addresses .title h3
{
    float: left;
}
.woocommerce .addresses .title .edit,
.woocommerce-page .addresses .title .edit
{
    float: right;
}
.woocommerce ol.commentlist.notes li.note p.meta,
.woocommerce-page ol.commentlist.notes li.note p.meta
{
    font-weight: bold;
    margin-bottom: 0;
}
.woocommerce ol.commentlist.notes li.note .description p:last-child,
.woocommerce-page ol.commentlist.notes li.note .description p:last-child
{
    margin-bottom: 0;
}
.woocommerce ul.digital-downloads,
.woocommerce-page ul.digital-downloads
{
    margin-left: 0;
    padding-left: 0;
}


/* Added Theme Canon Styles */
ul.products li h3{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: .5em;
}
ul.products li .price, .summary.entry-summary .price{
	text-align: left;
	background: none!important;
	margin-top: .5em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: .5em;
}
ul.products li .price:hover, .summary.entry-summary .price:hover{
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.summary.entry-summary .price{
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: .3em;
}
.woocommerce ul.products li.product a{
	clear: both;
}
.woocommerce .widget a.button,
.woocommerce .widget button.button,
.woocommerce .widget input.button,
.woocommerce-page .widget a.button,
.woocommerce-page .widget button.button,
.woocommerce-page .widget input.button,
.woocommerce a.button{
	font-size: 14px;
	padding: .3em .6em;
}
.shop_table.cart .button{
	font-size: 1em;
}
.shipping_calculator h2 {
	font-size: 1.4em;
}
.shipping_calculator h2:after{
	display: none;
}
.shop_table.cart td.actions{
	padding-top: 20px;	
	padding-bottom: 20px;
}
.payment_methods.methods li:before, .chzn-results li:before{
	display: none;
} 
.payment_methods.methods li{
	padding-left: 0;
}
.col2-set.addresses .address address{
	font-style: normal;
	padding-bottom: 1.5em!important;
}
p.myaccount_user{
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.myaccount_address{
	margin-bottom: 2em;
}
.summary.entry-summary h1.product_title{
	font-size: 32px;
	margin-top: 1em;
}
.product_meta .sku_wrapper, .product_meta .posted_in, .product_meta .tagged_as{
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: .3em;
	padding-top: .3em;
}
.product_meta > span:first-child{
	border-top-style: solid;
	border-top-width: 1px;
}
 .summary.entry-summary form.cart{
 	padding-top: 1em;
 }
.woocommerce .cart .single_add_to_cart_button{
	margin-top: 0;
}
.woocommerce .woocommerce-message a.button{
	margin-top: 0;
	margin-bottom: 0;
}
.woocommerce-tabs{
	padding-top: 2em;
}
.related.products, .upsells.products{
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 1em;
	margin-top: 2em;
}
.related.products ul.products li, .upsells.products ul.products li{
	width: 47%!important;
}
.upsells.products ul.products li{
	
}
.related.products ul.products li:nth-child(2n+2), .upsells.products ul.products li:nth-child(2n+2){
	margin-right: 0!important;
}
mark{
	background: none!important;
}
.stars span a{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
ul.products li .star-rating{
	padding-top: 10px;
	top: 10px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
	padding-left: 0;
}
.woocommerce-main-image{
	top: 1em;
	position: relative;
}
.woocommerce-main-image img{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .75em;
}
.price ins{
	text-decoration: none;
}
.woocommerce .woocommerce-tabs .tabs li{
	position: relative;
	top: 1px;
}
span.posted_in a, span.tagged_as a{
	margin: 0;
	padding: 2px;
}
.customer_details dt{
	
}
.customer_details dd{
	margin-left: 0;
}
input#coupon_code{
	border: none;
	padding: 10px 2%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	outline: none;
	margin-top: .4em;
	margin-bottom: 1em;
	resize: none;
	display: block;
	width: 150px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.woocommerce form.login, .woocommerce form.checkout_coupon, .woocommerce form.register, .woocommerce-page form.login, .woocommerce-page form.checkout_coupon, .woocommerce-page form.register{
	border-style: solid;
	border-width: 1px;
}

.pp_pic_holder.pp_woocommerce div.ppt{
	display: none!important;
}