/*
 Theme Name:     Plant a seed Foundation
 Theme URI:
 Description:    Child theme for Kause
 Author:         Theme Canon
 Author URI:     http://www.themecanon.com
 Template:       kause
 Version:        1.0.0
*/

@import url("../kause/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
.home .pb_supporters .social-thumbs{
    display: none;
}

#header_logo .logo{
    position: absolute;
    z-index: 100;
    padding: 5px 10px 10px;
    background-color: #fff;
    display: block;
    width: 120px;
    height: 123px;
    top: -3px;
    max-width: 130px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
@media screen and (min-width : 480px) and (max-width: 900px)  {
    #header_logo .logo{
        width: 95px;
        height: 98px;
    }
    .menu-main-menu-container .nav a{
        padding-left: .6em;
        padding-right: .6em;
    }
}

@media screen and (max-width: 479px) {
    #header_logo .logo{
        width: 90px;
        height: 93px;
        left: -25px;
    }
    #nav-wrap{
        width: 70%;
        margin-left: 35%;
    }
}